<section class="login">
  <div class="container">
    <div class="log-in-form">
      <div class="border-box">
        <div class="top-section">
          <h1 class="top-heading">Top Great Grand Father Name with Surname</h1>
          <div class="bottom-table">
            <table
              style="
                width: 820px;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 10px;
              "
            >
              <tr>
                <th rowspan="2" colspan="1">Head</th>
                <th colspan="1">Reg.</th>
                <th colspan="1">Today</th>
                <th colspan="1">Once</th>
                <th colspan="1">Average</th>
                <th colspan="3">Education (Alive Only)</th>
                <th colspan="2">Employment (25-60y)</th>
              </tr>
              <tr>
                <th colspan="1">Member</th>
                <th colspan="1">Alive</th>
                <th colspan="1">Divorce</th>
                <th colspan="1">Age</th>
                <th colspan="1">Post Graduate</th>
                <th colspan="1">Graduate</th>
                <th colspan="1">Under Graduate</th>
                <th colspan="1">Employed</th>
                <th colspan="1">Unemployed</th>
              </tr>
              <tr>
                <td>Male</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Male</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Male</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>
          <div class="family-chart">
            <div class="family-member">
              <div>
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
            </div>
            <div class="family-member">
              <div>
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
            </div>
            <div class="family-member">
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
            </div>
            <div class="family-member">
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
            </div>
            <div class="family-member">
              <div class="bottom-left">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
              <div class="left-padding">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_mNmpqHOTakNgIaKR5bxJFfkUtiLdPBXPMw&usqp=CAU"
                  alt=""
                />
                <p>
                  Spouse Robiul Islam Miazi <br />
                  1802-1890
                </p>
              </div>
            </div>
          </div>
          <div class="bottom-heading">
            <h1 class="bottom-text">SameWay Spouse will be Added</h1>
          </div>
          <div class="bottom-table">
            <table style="width: 1220px; margin-bottom: 10px">
              <tr>
                <th rowspan="3" colspan="1">Level</th>
                <th rowspan="3" colspan="1">Gender</th>
                <th colspan="20">Membership Level</th>
              </tr>
              <tr>
                <th colspan="3">International</th>
                <th colspan="3">Country</th>
                <th colspan="3">Division</th>
                <th colspan="3">District/City Corporation</th>
                <th colspan="3">Sub District/Metropolitan</th>
                <th colspan="3">Union/Ward</th>
              </tr>

              <tr>
                <th>General</th>
                <th>Committee</th>
                <th>Advising</th>
                <th>General</th>
                <th>Committee</th>
                <th>Advising</th>
                <th>General</th>
                <th>Committee</th>
                <th>Advising</th>
                <th>General</th>
                <th>Committee</th>
                <th>Advising</th>
                <th>General</th>
                <th>Committee</th>
                <th>Advising</th>
                <th>General</th>
                <th>Committee</th>
                <th>Advising</th>
              </tr>
              <tr>
                <th rowspan="3" colspan="1">Social</th>
                <td>Male</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Female</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Others</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th rowspan="3" colspan="1">Political</th>
                <td>Male</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Female</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Others</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th rowspan="3" colspan="1">Occupational</th>
                <td>Male</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Female</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Others</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th rowspan="3" colspan="1">Business</th>
                <td>Male</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Female</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Others</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th rowspan="3" colspan="2">Total</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>
          <div class="bottom-table">
            <div class="bottom-btn">
              <button class="button-yellow">CLOSE</button>
              <button class="button-green">PRINT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
