<header>
    <div class="image-text">
      <div class="logo">
        <img src="../../../assets/logo/Picture1.jpg" alt="" />
      </div>
      <div class="text">
        <div class="up">
          <h1>Family Bonding</h1>
        </div>
        <div class="down-button">
          <button>Convert OLD into GOLD</button>
        </div>
      </div>
    </div>
  </header>

<div class="main">
    <router-outlet></router-outlet>
</div>


<section class="footer">
    <div class="right-text">
      <p>
        Family Tree, Blood Donation, Provide/Get Services, Matching Life Partner,
        Event Attendance, To-Do-List etc
      </p>
    </div>
    <div class="left-text">
      <p>
        Earned by Agent/Broker Services, Property Management, View Ads, Survey &
        Poll Participation etc.
      </p>
    </div>
  </section>
