<div id="sub-mega-menu">

  <!--hover-menu-row-->
  <div class="hover-menu-main">
    <!--col-1-->
    <div class="hover-menu-colum" *ngFor="let d of data">
      <div class="hover-menu-details">
        <a [routerLink]="['/product-list', parentCategory?.slug, d.slug]" target="_blank">{{d.name}}</a>
        <ul>
          <li><a *ngFor="let t of d.hasChild" [routerLink]="['/product-list', parentCategory?.slug, d.slug, t.slug]"
                 target="_blank">
            {{t.name}} <span><i class="fa fa-angle-right"></i></span></a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</div><!--hover-menu-end-->
