@import "src/theme/exports/table-scroll";
@import "src/theme/exports/top-data-header";

.header {
  width: 100%;
  margin: 10px 0;
  padding: 0 12px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.bottom-view {
  display: flex;


  .action {
    margin: 10px;
    border: 1px solid #ebebeb;
    .item {
      width: 100%;
      border: 1px solid #ebebeb;
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .left{
        flex: 1;
        display: flex;
        align-items: center;
        padding: 0 10px;
        height: 100%;
        background: #f5f5f5;
        font-size: 14px;
        font-weight: bold;
      }
      .right {
        flex: 1;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 10px;
        p {
          font-size: 15px;
        }

        p.bold {
          font-weight: bold;
        }

        mat-form-field {
          margin-top: 10px;
        }
      }
    }
  }

  .calculation {
    flex: 4;
  }
  .info {
    flex: 6;
    .item {
      height: 40px;
    }
  }
}

.profile {
  width: 90%;
  margin: 0 auto;
  //height: 50px;
  padding: 10px;
  background: #f4f4f4;
  border-radius: 10px;

  //.img-thumb {
  //  width: 80px;
  //  height: 80px;
  //  border-radius: 85px;
  //  margin: 0 auto;
  //  img {
  //    width: 100%;
  //    height: 100%;
  //    object-fit: cover;
  //    border-radius: 100%;
  //  }
  //}

  .info {
    margin-top: 5px;

    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    h2 {
      font-size: 15px;
      color: #484848;
      text-align: center;
      line-height: 1.5;
      font-weight: 500;
    }
  }


}

.order-timeline {
  padding: 10px;

  .view {
    border: 3px solid #ebebeb;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .title {
    h2 {
      font-size: 26px;
      background: #eaeaea;
      padding: 12px 36px;
      border-radius: 6px;
      color: #369BFF;
    }
  }
}
.note-content{
  background-color: #0d812b;
  color: #fff!important;
  border-radius: 5px;
  padding: 5px;
}
