
<div class="header">
  <button mat-raised-button color="accent" (click)="downloadPdfInvoice('download')">
    <mat-icon>file_download</mat-icon>
    Download Pdf
  </button>

  <button mat-raised-button color="warn" (click)="downloadPdfInvoice('print')">
    <mat-icon>print</mat-icon>
    Print Order
  </button>

  <button mat-raised-button color="primary" [routerLink]="['../../', 'edit-order', id]">
    <mat-icon>edit</mat-icon>
    Edit Order
  </button>
</div>

<section class="admin-data-sec">

  <div class="top-data-header">
    <div class="title">
      <h2>Order Details</h2>
    </div>
  </div> <!-- END TOP DATA HEADER -->

  <hr class="center-square">

  <div class="profile">
<!--    <div class="img-thumb">-->
<!--      <img [src]="user?.profileImg ? user?.profileImg : '/assets/images/avatar/user_low.png'" alt="">-->
<!--    </div>-->
    <div class="info">
      <h2>Checkout Date: {{order?.checkoutDate | date: 'mediumDate'}}</h2>
      <div class="row">
        <h2>Payment Status: <span [style.color]="order?.paymentStatus === 'paid' ? 'green' : 'red'">
          {{order?.paymentStatus}}
        </span></h2>
        <h2>Payment Type: {{order?.paymentType}}</h2>
      </div>
      <h2>Order Status: {{order?.orderStatus | orderStatus}}</h2>
      <h2>Last Update: {{order?.updatedAt | date: 'mediumDate'}}</h2>
      <h2 style="color: green; font-weight: bold" *ngIf="order?.preferredDate || order?.preferredTime">Preferable Delivery Time: {{order?.preferredTime}} {{order?.preferredDate | date: 'MMM d, y'}}</h2>
      <h2 class="note-content" *ngIf="order?.note">Note: {{order?.note}}</h2>
    </div>
  </div>

  <div class="table-wrapper space">

<!--    <div class="table-action dual" >-->
<!--      <div class="left"></div>-->
<!--      <div class="right">-->
<!--        <button mat-raised-button color="accent" (click)="openProductListDialog()">-->
<!--          <mat-icon>add</mat-icon>-->
<!--          Edit Product-->
<!--        </button>-->
<!--      </div>-->
<!--    </div> &lt;!&ndash; END Table Action &ndash;&gt;-->

    <table>
      <tr>
        <th>SL</th>
        <th>Image</th>
        <th>Name</th>
        <th>Unit</th>
        <th>Category</th>
        <th>Sub Category</th>
        <th>Brand</th>
        <th>Sale Price</th>
        <th>Quantity</th>
      </tr>
      <tr
        *ngFor="let data of order?.orderedItems; let i = index">
        <td>{{i + 1}}</td>
        <td>
          <img checkImageDefault class="table-image" [src]="data && data?.image ? data.image : ''" [alt]="">
        </td>
        <td>{{data.name}}</td>
        <td>{{data.unit ? data.unit : 'N/A'}}</td>
        <td>{{data.category?.name}}</td>
        <td>{{data.subCategory && data.subCategory?.name ? data.subCategory?.name : 'N/A'}}</td>
        <td>{{data.brand?.name}}</td>
        <td>৳{{data.unitPrice | number : '': 'bn'}}</td>
        <td>{{data.quantity}}</td>
      </tr>
    </table>
  </div>

  <div class="bottom-view">
    <div class="action info">
      <div class="item" style="border-bottom: none;">
        <div class="left">
          Name
        </div>
        <div class="right">
          <p>{{order?.name}}</p>
        </div>
      </div>

      <div class="item" style="border-bottom: none;">
        <div class="left">
          Phone No
        </div>
        <div class="right">
          <p>{{order?.phoneNo}}</p>
        </div>
      </div>

      <div class="item" style="border-bottom: none;">
        <div class="left">
          Email
        </div>
        <div class="right">
          <p>{{order?.email | checkNull  }}</p>
        </div>
      </div>

      <div class="item">
        <div class="left">
          City
        </div>
        <div class="right">
          <p class="bold">{{order?.city}}</p>
        </div>
      </div>

      <div class="item">
        <div class="left">
          Shipping Address
        </div>
        <div class="right">
          <p class="bold">{{order?.shippingAddress}}</p>
        </div>
      </div>
    </div>

    <div class="action calculation">
      <div class="item" style="border-bottom: none;">
        <div class="left">
          Sub Total (৳)
        </div>
        <div class="right">
          <p>{{order?.subTotal}}</p>
        </div>
      </div>

      <div class="item" style="border-bottom: none;">
        <div class="left">
          Delivery Charge (৳)
        </div>
        <div class="right">
          <p>{{order?.deliveryCharge}}</p>
        </div>
      </div>

      <div class="item" style="border-bottom: none;">
        <div class="left">
          Discount (-৳)
        </div>
        <div class="right">
          <p>{{order?.couponDiscount ? order?.couponDiscount : 0}}</p>
        </div>
      </div>

      <div class="item">
        <div class="left">
          Grand Total (৳)
        </div>
        <div class="right">
          <p class="bold">{{order?.grandTotal | number : '' : 'bn'}}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="order-timeline" *ngIf="order?.hasOrderTimeline">
    <div class="view">
      <div class="title">
        <h2>Order Timeline</h2>
      </div>
      <div class="content">
        <app-order-timeline [order]="order"></app-order-timeline>
      </div>
    </div>
  </div>

  <!-- LOADING TEMPLATE -->
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size="medium" color="#fff" type="ball-atom" [fullScreen]="false">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

</section>
