
<div class="spin" *ngIf="!isLoaded">
  <mat-spinner color="primary"></mat-spinner>
</div>

<image-cropper
  class="image-cropper"
  [roundCropper]="true"
  [imageChangedEvent]="imageChangedEvent"
  [maintainAspectRatio]="true"
  format="jpeg"
  [resizeToWidth]="600"
  [resizeToHeight]="600"
  [imageQuality]="95"
  (imageCropped)="imageCropped($event)"
  (cropperReady)="cropperReady()"
  (loadImageFailed)="loadImageFailed()"
></image-cropper>

<div class="upload-dialog-action" *ngIf="isLoaded">
  <button mat-raised-button color="warn" class="btn btn-cancel" (click)="onCloseDialogue()">Close</button>
  <button mat-raised-button color="primary" class="btn btn-save" (click)="onSaveImage()">Save</button>
</div>
