@import "src/theme/exports/top-input-header";

form {
  width: 95%;
  max-width: 850px;
  margin: 16px auto;

  mat-form-field {
    width: 100%;
  }

  button[type='submit'] {
    padding: 4px 24px;
    border-radius: 25px;
  }
}


/**
FORM ARRAY
 */

.form-array-container {
  width: 100%;
}

.add-form-array-action {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}

.form-array-input {
  width: 100%;

  .single-field {
    width: 100%;
    display: flex;
    gap: 8px;

    button {
      margin-top: 10px;
    }
  }
}
