.view {
  width: 100%;
}


.data-info {
  text-align: center;
  background: #ececec;
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
}



.action {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 8px;
}
