<section class="event-al-attendance">
    <div class="container">
        <div class="event-attendance-section">
            <div class="header">
                <h1>Add event</h1>
            </div>
            <div class="event-all-content">
                <div class="event-action">
                    <div class="input-field">
                        <mat-form-field appearance="outline">
                          <mat-label>Event Name</mat-label>
                          <mat-select>
                            <mat-option value="one">Present</mat-option>
                            <mat-option value="two">Permanent</mat-option>
                            <mat-option value="two">Working</mat-option>
                            <mat-option value="two">Voting</mat-option>
                            <mat-option value="two">Global</mat-option>
                            <mat-option value="two">(Continent Area all Disable)</mat-option>
                          </mat-select>
                        </mat-form-field> <!--mat filed End-->
                      </div>

                      <div class="field-content">
                        <button class="mat-button" mat-button>Rename</button>
                        <button mat-button >Service</button>
                        <button mat-button >Duration</button>
                        <button mat-button >Booking Tranction Code</button>
                      </div> <!--event content button end-->
                </div>
                <div class="side-event">
                  <div class="">
                    <button class="mat-button" mat-button color="primary">Save</button>
                    <button class="mat-button mat-button2" mat-button color="accent">Delete</button>
                  </div> <!--action button end-->
              </div>
            </div>

            <div class="event-service">
              <input type="text" class="xbtn" placeholder="O  Online O  Offline">
              <input type="text" class="xbtn" placeholder="00:00">
            </div>

            <div class="close-btn">
              <a class="mat-close-btn" mat-button color="primary">Close</a>
            </div>
        </div>
    </div>
</section> <!--Add Event End-->


<section class="event-al-attendance">
  <div class="container">
      <div class="event-attendance-section">
          <div class="header">
              <h1>Event Duplicate </h1>
          </div>
          <div class="event-all-content">

              <div class="event-action">
                  <div class="input-field">
                      <mat-form-field appearance="outline">
                        <mat-label>Event Name</mat-label>
                        <mat-select>
                          <mat-option value="one">Present</mat-option>
                          <mat-option value="two">Permanent</mat-option>
                          <mat-option value="two">Working</mat-option>
                          <mat-option value="two">Voting</mat-option>
                          <mat-option value="two">Global</mat-option>
                          <mat-option value="two">(Continent Area all Disable)</mat-option>
                        </mat-select>
                      </mat-form-field> <!--mat filed End-->
                    </div>
                    <div class="field-content">
                      <button class="mat-button" mat-button>Rename</button>
                    </div> <!--event content button end-->
              </div>

              <div class="side-event">
                <div class="">
                  <button class="mat-button" mat-button color="primary">Save</button>
                  <button class="mat-button2" mat-button color="accent">Delete</button>
                </div> <!--action button end-->
            </div>
          </div>

          <div class="close-btn">
            <a class="mat-close-btn" mat-button color="primary">Close</a>
          </div>
      </div>
  </div>
</section> <!--Add Event Duplicate End-->


<section class="event-al-attendance">
  <div class="container">
      <div class="event-attendance-section">
          <div class="header">
              <h1>Access</h1>
          </div>
          <div class="event-all-content">

              <div class="event-action">
                  <div class="input-field">
                      <mat-form-field appearance="outline">
                        <mat-label>Event Name</mat-label>
                        <mat-select>
                          <mat-option value="one">Present</mat-option>
                          <mat-option value="two">Permanent</mat-option>
                          <mat-option value="two">Working</mat-option>
                          <mat-option value="two">Voting</mat-option>
                          <mat-option value="two">Global</mat-option>
                          <mat-option value="two">(Continent Area all Disable)</mat-option>
                        </mat-select>
                      </mat-form-field> <!--mat filed End-->
                    </div>
                    <div class="field-content">
                      <button class="mat-button" mat-button>Acces IDs</button>
                      <button class="mat-button2" mat-button>ADD</button>
                    </div> <!--event content button end-->
              </div>

              <div class="side-event">
                <div class="">
                  <button class="mat-button" mat-button color="primary">Save</button>
                  <button class="mat-button2" mat-button color="accent">Delete</button>
                </div> <!--action button end-->
            </div>
          </div>

          <div class="event-service event-access-service">
            <ul>
              <li><a href="#">Listed-1</a></li>
              <li><a href="#">Listed-2</a></li>
              <li><a href="#">Listed-3</a></li>
            </ul>
          </div>

          <div class="close-btn">
            <a class="mat-close-btn" mat-button color="primary">Close</a>
          </div>
      </div>
  </div>
</section> <!--Add Event Duplicate End-->


<section class="event-al-attendance">
  <div class="container">
      <div class="event-attendance-section">
          <div class="header2">
              <h1>Invite</h1>
          </div>
          <div class="event-all-content invite-all-content">
              <div class="event-action invite-action">
                  <div class="input-field">
                      <mat-form-field appearance="outline">
                        <mat-label>Event Name</mat-label>
                        <mat-select>
                          <mat-option value="one">Present</mat-option>
                          <mat-option value="two">Permanent</mat-option>
                          <mat-option value="two">Working</mat-option>
                          <mat-option value="two">Voting</mat-option>
                          <mat-option value="two">Global</mat-option>
                          <mat-option value="two">(Continent Area all Disable)</mat-option>
                        </mat-select>
                      </mat-form-field> <!--mat filed End-->
                    </div>

                    <div class="field-content">
                      <button class="mat-button" mat-button>ADD Event</button>
                      <button mat-button >Event Duplicate</button>
                      <button mat-button >Access IDs</button>
                    </div> <!--event content button end-->
              </div>
          </div>

          <div class="event-service invite-service">
            <div>Place</div>
            <ul>
              <li>Date</li>
              <li>Time</li>
            </ul>
          </div>


          <div class="event-service invite-service2">
            <div class="input-field invite-input-filed">
              <mat-form-field class="mat-form-fild" appearance="outline">
                <mat-label>Invite</mat-label>
                <mat-select>
                  <mat-option value="one">Present</mat-option>
                  <mat-option value="two">Permanent</mat-option>
                  <mat-option value="two">Working</mat-option>
                  <mat-option value="two">Continent Area</mat-option>
                </mat-select>
              </mat-form-field> <!--mat filed End-->
            </div>
            <ul>
              <li>Family Admin ID</li>
              <li>Family Member ID </li>
              <li>invite</li>
            </ul>
          </div>


          <div class="event-service invite-service invite-service-same">
            <div>Family </div>
            <ul>
              <li>From Database</li>
              <li>From Database </li>
              <li>From  </li>
            </ul>
          </div>

          <div class="event-service invite-service invite-service-same">
            <div>Relative </div>
            <ul>
              <li>From Database</li>
              <li>From Database </li>
              <li>From  </li>
            </ul>
          </div>

          <div class="event-service invite-service invite-service-same">
            <div><a href="#">Audience Setup</a> OR Outer </div>
            <ul>
              <li>Input Need </li>
              <li>Input Need</li>
              <li>Input Need </li>
            </ul>
          </div>


      </div>
  </div>
  <div class="invite-close-btn">
    <a class="mat-submit-btn" mat-button color="primary">Submit</a>
  </div>
</section> <!--Invite part End-->


<section class="event-al-attendance">
  <div class="container">
      <div class="event-attendance-section">
          <div class="header">
              <h1>Eeven Start</h1>
          </div>
          <div class="event-all-content event-start-content">
            
              <div class="input-field">
                  <mat-form-field appearance="outline">
                    <mat-label>Event Name</mat-label>
                    <mat-select>
                      <mat-option value="one">Present</mat-option>
                      <mat-option value="two">Permanent</mat-option>
                      <mat-option value="two">Working</mat-option>
                      <mat-option value="two">Voting</mat-option>
                      <mat-option value="two">Global</mat-option>
                      <mat-option value="two">(Continent Area all Disable)</mat-option>
                    </mat-select>
                  </mat-form-field> <!--mat filed End-->
                </div>

                <button class="mat-button" mat-button>Status</button>
                <button mat-button >Camera</button>
                <button mat-button >Line</button>
          </div>

          <div class="event-service4">
            <button mat-button class="pending-button">Pending</button>
            <div>
              <input type="radio" id="on" value="on" name="camera">
              <label for="on">on</label>
            </div>
            
            <div>
              <input type="radio" id="online" value="online" name="line">
              <label for="online">online</label>
            </div>
            
          </div>

          <div class="event-service4">
            <button mat-button class="Approve-button">Approve </button>
            <div>
              <input type="radio" id="off" value="off" name="camera">
              <label for="off">off</label>
            </div>
            
            <div>
              <input type="radio" id="offline" value="offline" name="line">
              <label for="offline">offline</label>
            </div>
            
          </div>

          <div class="event-start-button">
            <a class="mat-close-btn" mat-button color="primary">Close</a>
          </div>
      </div>
  </div>
</section> <!--Add Event End-->



 
<section class="event-al-attendance">
  <div class="container">
    <div class="card">
      <div class="card1">
          <div class="Card1_top_text">
              <div class="text1">
                  <span>Hello</span>
                  <span>12:00pm</span>
                  <i class="fa-solid fa-battery-empty"></i>
              </div>
              <div class="text2">
                  <p>Instagram</p>
                  <i class="fa-solid fa-road"></i>
              </div>
          </div>
          <div class="Card1_top_text2">
              <i class="fa-brands fa-stack-overflow"></i>
              <i class="fa-brands fa-stack-overflow"> hello</i>
          </div>
          <img src="../../../assets/download.jpg" alt="">
          <div class="img_bottom_icon">
              <div>
                  <i class="fa-regular fa-heart"></i>
                  <i class="fa-regular fa-comment"></i>
              </div>
              <div>
                  <button class="btn1">See More</button>
              </div>
          </div>
          <div class="bottom_text">
              <p>Success is not final; failure is not fatal: It is the courage to continue that counts.</p>
          </div>
          <div class="bottom_icon">
              <i class="fa-solid fa-house"></i>
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-camera"></i>
              <i class="fa-regular fa-comment"></i>
              <i class="fa-regular fa-user"></i>
          </div>
      </div>

      <div class="card1">
          <div class="Card1_top_text">
              <div class="text1">
                  <span>hello</span>
                  <span>hello</span>
                  <i class="fa-solid fa-battery-empty"></i>
              </div>
              <div class="text2">
                  <p>Instagram</p>
                  <i class="fa-solid fa-road"></i>
              </div>
          </div>
          <div class="Card1_top_text2">
              <i class="fa-brands fa-stack-overflow"></i>
              <i class="fa-brands fa-stack-overflow"> hello</i>
          </div>
          <img src="../../../assets/download.jpg" alt="">
          <div class="img_bottom_icon">
              <div>
                  <i class="fa-regular fa-heart"></i>
                  <i class="fa-regular fa-comment"></i>
              </div>
              <div>
                  <button class="btn1">See More</button>
              </div>
          </div>
          <div class="bottom_text">
              <p>Success is not final; failure is not fatal: It is the courage to continue that counts.</p>
          </div>
          <div class="bottom_icon">
              <i class="fa-solid fa-house"></i>
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-camera"></i>
              <i class="fa-regular fa-comment"></i>
              <i class="fa-regular fa-user"></i>
          </div>
      </div>

      <div class="card1">
          <div class="Card1_top_text">
              <div class="text1">
                  <span>hello</span>
                  <span>hello</span>
                  <i class="fa-solid fa-battery-empty"></i>
              </div>
              <div class="text2">
                  <p>Instagram</p>
                  <i class="fa-solid fa-road"></i>
              </div>
          </div>
          <div class="Card1_top_text2">
              <i class="fa-brands fa-stack-overflow"></i>
              <i class="fa-brands fa-stack-overflow"> hello</i>
          </div>
          <img src="../../../assets/download.jpg" alt="">
          <div class="img_bottom_icon">
              <div>
                  <i class="fa-regular fa-heart"></i>
                  <i class="fa-regular fa-comment"></i>
              </div>
              <div>
                  <button class="btn1">See More</button>
              </div>
          </div>
          <div class="bottom_text">
              <p>Success is not final; failure is not fatal: It is the courage to continue that counts.</p>
          </div>
          <div class="bottom_icon">
              <i class="fa-solid fa-house"></i>
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-camera"></i>
              <i class="fa-regular fa-comment"></i>
              <i class="fa-regular fa-user"></i>
          </div>
      </div>
      
      <div class="card1">
          <div class="Card1_top_text">
              <div class="text1">
                  <span>hello</span>
                  <span>hello</span>
                  <i class="fa-solid fa-battery-empty"></i>
              </div>
              <div class="text2">
                  <p>Instagram</p>
                  <i class="fa-solid fa-road"></i>
              </div>
          </div>
          <div class="Card1_top_text2">
              <i class="fa-brands fa-stack-overflow"></i>
              <i class="fa-brands fa-stack-overflow"> hello</i>
          </div>
          <img src="../../../assets/download.jpg" alt="">
          <div class="img_bottom_icon">
              <div>
                  <i class="fa-regular fa-heart"></i>
                  <i class="fa-regular fa-comment"></i>
              </div>
              <div>
                  <button class="btn1">See More</button>
              </div>
          </div>
          <div class="bottom_text">
              <p>Success is not final; failure is not fatal: It is the courage to continue that counts.</p>
          </div>
          <div class="bottom_icon">
              <i class="fa-solid fa-house"></i>
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-camera"></i>
              <i class="fa-regular fa-comment"></i>
              <i class="fa-regular fa-user"></i>
          </div>
      </div>
  </div>
  </div>
</section>



<section class="event-al-attendance">
  <div class="container">
      <div class="event-attendance-section">
          <div class="header3">
              <h1>(Even Name) Event Attendance Report</h1>
          </div>
                <div class="field-content2">
                  <button class="mat-button" >Event Name </button>
                  <button class="mat-button" mat-button>Participant Name </button>
                  <button mat-button >Participant Status </button>
                  <button mat-button >Photo</button>
                  <button mat-button >Atten Date</button>
                  <button mat-button >Atten Time</button>
                </div> <!--event content button end-->
          </div>
  </div>
  <div class="invite-close-btn">
    <a class="mat-submit-btn" mat-button color="primary">close</a>
  </div>
</section> <!--Add Event End-->







