<section class="admin-data-sec">
    <div class="top-data-header">
      <div class="title">
        <h2>All Orders</h2>
      </div>

      <form class="table-search" #searchForm=ngForm>
        <input type="text"
               #searchInput
               name="searchTerm"
               autocomplete="off"
               ngModel placeholder="Search with Order No or Phone No">
        <button><i class="fa fa-search"></i></button>
      </form>


    </div> <!-- END TOP DATA HEADER -->

    <div class="action-multiple">

      <div class="date-filter">
        <mat-form-field class="mat-date-input-field" appearance="outline" (click)="picker.open()">
          <mat-label>Filter Created  Date Range</mat-label>
          <mat-date-range-input [formGroup]="dataFormDateRange" [rangePicker]="picker" [max]="today">
            <input matStartDate formControlName="start" placeholder="Start date" readonly>
            <input matEndDate formControlName="end" placeholder="End date" readonly
                   (dateChange)="endChangeRegDateRange($event)">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error *ngIf="dataFormDateRange.controls.start.hasError('matStartDateInvalid')">Invalid start date
          </mat-error>
          <mat-error *ngIf="dataFormDateRange.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>
      </div>


      <div class="sort">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menuBrand">
          Payment Type
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menuBrand="matMenu">
          <button *ngFor="let data of paymentTypes; let i = index" mat-menu-item
                  (click)="filterData(data.value, i, 'paymentType')"
                  [class.dropdown-active]="activeFilter1 === i">
            {{data.viewValue}}
          </button>
        </mat-menu>
      </div>

      <div class="sort">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menuCity">
          City
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menuCity="matMenu">
          <button *ngFor="let data of cities; let i = index" mat-menu-item
                  (click)="filterData(data, i, 'city')"
                  [class.dropdown-active]="activeFilter2 === i">
            {{data}}
          </button>
        </mat-menu>
      </div>

      <div class="sort">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menuSort">
          Sort By
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menuSort="matMenu">
          <button mat-menu-item (click)="sortData({updatedAt: -1}, 1)" [class.dropdown-active]="activeSort === 1">
            Last Update
          </button>
          <button (click)="sortData({createdAt: 1}, 2)" mat-menu-item [class.dropdown-active]="activeSort === 2">
            First to Last
          </button>
          <button (click)="sortData({grandTotal: 1}, 3)" mat-menu-item [class.dropdown-active]="activeSort === 3">
            Order Amount (Low ~ High)
          </button>
          <button (click)="sortData({grandTotal: -1}, 4)" mat-menu-item [class.dropdown-active]="activeSort === 4">
            Order Amount (High ~ Low)
          </button>
  <!--        <button (click)="sortData({quantity: 1}, 5)" mat-menu-item [class.dropdown-active]="activeSort === 5">-->
  <!--          Quantity (Low ~ High)-->
  <!--        </button>-->
  <!--        <button (click)="sortData({quantity: -1}, 6)" mat-menu-item [class.dropdown-active]="activeSort === 6">-->
  <!--          Quantity (High ~ Low)-->
  <!--        </button>-->
        </mat-menu>
      </div>

    </div>

    <hr class="center-square">

    <div class="table-wrapper space">

      <div class="table-action" [class.dual]="activeSort || filter">
        <div class="left" *ngIf="activeSort || filter">
          <button mat-stroked-button color="accent" (click)="onRemoveAllQuery()">
            <mat-icon>close</mat-icon>
            Clear FilterData
          </button>
        </div>
      </div> <!-- END Table Action -->

      <table>
        <tr>
          <th>Order No</th>
          <th>Phone No</th>
          <th>Created Date</th>
          <th>City</th>
          <th>Payment Type</th>
          <th>Payment Status</th>
          <th>Order Status</th>
          <th>Grand total</th>
          <th>Actions</th>
        </tr>
        <tr
          *ngFor="let data of orders | paginate: { itemsPerPage: ordersPerPage, currentPage: currentPage, totalItems: totalOrders } ; let i = index">
          <td>{{data.orderId}}</td>
          <td>{{data.phoneNo}}</td>
          <td>{{data.checkoutDate | date: 'mediumDate'}}</td>
          <td>{{data.city}}</td>
          <td>{{data.paymentType | slugToNormal : '_'}}</td>
          <td>
            <div [ngClass]="data.paymentStatus === 'paid' ? 'paid' : 'unpaid'">
            {{data.paymentStatus}}
            </div>
          </td>
          <td [ngClass]="ngClassService.getDeliveryStatusColor(data.orderStatus)">
            {{data.orderStatus | orderStatus}}
          </td>

          <td>৳{{data.grandTotal | number : '': 'bn'}}</td>
          <td class="td-action">
            <a style="margin-left: 5px;" mat-mini-fab color="primary" [routerLink]="['../','order-details', data._id]"
               mat-icon-button  matTooltip="View Details">
              <mat-icon>visibility</mat-icon>
            </a>
          </td>
        </tr>
      </table>
    </div>

    <div class="pagination-container">
      <pagination-controls
        class="data-pagination"
        [autoHide]="true"
        [maxSize]="15"
        (pageChange)="onPageChanged($event)">
      </pagination-controls>
    </div>     <!-- END PAGINATION -->


    <!-- LOADING TEMPLATE -->
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size="medium" color="#fff" type="ball-atom" [fullScreen]="false">
      <p style="color: white"> Loading... </p>
    </ngx-spinner>

  </section>

