<div style="position: relative">
  <mat-spinner *ngIf="isLoading"
               style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto"
  ></mat-spinner>

  <div class="header-dialog">
    <h1 mat-dialog-title>Reply Review</h1>
  </div>

  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()"
        #templateForm="ngForm"
        fxLayout="column" fxLayoutAlign="space-around center">

    <mat-form-field appearance="outline">
      <mat-label>Select Status</mat-label>
      <mat-select formControlName="status" required>
        <mat-option *ngFor="let data of reviewStatus" [value]="data.value">
          {{  data.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Reply</mat-label>
      <textarea formControlName="reply" matInput placeholder="Reply here"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>






