@import "src/theme/variables";
// ## SideNav
mat-sidenav {
  position: fixed;
  margin-top: $toolbar-height;
  width: $mat-sidenav-width;
}

mat-sidenav-content{
  margin-top: $toolbar-height;
  //background-color: #f3f2f2;
  background-color: #fff;
  height: 100vh;
}


@media only screen and (max-device-width: 599px) {
  mat-sidenav-content{
    margin-top: 65px;
    min-height: calc(100vh - 65px);
  }
  mat-sidenav {
    margin-top: 65px;
  }

}
