<section class="famuly-member-request-panel">
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th class="Refer-statement" colspan="12">Refer Statement</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="Family-member-btn-td">
                  <button class="Family-member-btn">Family Member</button>
                </td>
                <td class="empty" colspan="11"></td>
              </tr>
              <tr>
                <td class="colspan" colspan="2">Total ref.: 0000000</td>
                <td class="colspan" colspan="2">Achieve 0000</td>
                <td class="colspan" colspan="2">Total ref.: 0000000</td>
                <td class="colspan" colspan="2">Achieve 0000</td>
                <td class="colspan" colspan="2">Total ref.: 0000000</td>
                <td class="colspan" colspan="2">Achieve 0000</td>
              </tr>
              <tr>
                <td>Refer Family Admin IDs</td>
                <td>Date</td>
                <td>Commission</td>
                <td class="bonus">Bonus</td>
                <td>Refer Business Manager IDS</td>
                <td>Date</td>
                <td>Commission</td>
                <td>Bonus</td>
                <td>Refer Business Manager IDS</td>
                <td>Date</td>
                <td>Commission</td>
                <td>Bonus</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </div>
</section>
