<section>
    <div class="container">

        <div class="card">
            <div class="card1">
                <div class="Card1_top_text">
                    <div class="text1">
                        <span>Hello</span>
                        <span>12:00pm</span>
                        <i class="fa-solid fa-battery-empty"></i>
                    </div>
                    <div class="text2">
                        <p>Instagram</p>
                        <i class="fa-solid fa-road"></i>
                    </div>
                </div>
                <div class="Card1_top_text2">
                    <i class="fa-brands fa-stack-overflow"></i>
                    <i class="fa-brands fa-stack-overflow"> hello</i>
                </div>
                <img src="../../../assets/svg/download.jfif" alt="">
                <div class="img_bottom_icon">
                    <div>
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-regular fa-comment"></i>
                    </div>
                    <div>
                        <button class="btn1">See More</button>
                    </div>
                </div>
                <div class="bottom_text">
                    <p>Success is not final; failure is not fatal: It is the courage to continue that counts.</p>
                </div>
                <div class="bottom_icon">
                    <i class="fa-solid fa-house"></i>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-camera"></i>
                    <i class="fa-regular fa-comment"></i>
                    <i class="fa-regular fa-user"></i>
                </div>
            </div>

            <div class="card1">
                <div class="Card1_top_text">
                    <div class="text1">
                        <span>hello</span>
                        <span>hello</span>
                        <i class="fa-solid fa-battery-empty"></i>
                    </div>
                    <div class="text2">
                        <p>Instagram</p>
                        <i class="fa-solid fa-road"></i>
                    </div>
                </div>
                <div class="Card1_top_text2">
                    <i class="fa-brands fa-stack-overflow"></i>
                    <i class="fa-brands fa-stack-overflow"> hello</i>
                </div>
                <img src="../../../assets/svg/download.jfif" alt="">
                <div class="img_bottom_icon">
                    <div>
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-regular fa-comment"></i>
                    </div>
                    <div>
                        <button class="btn1">See More</button>
                    </div>
                </div>
                <div class="bottom_text">
                    <p>Success is not final; failure is not fatal: It is the courage to continue that counts.</p>
                </div>
                <div class="bottom_icon">
                    <i class="fa-solid fa-house"></i>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-camera"></i>
                    <i class="fa-regular fa-comment"></i>
                    <i class="fa-regular fa-user"></i>
                </div>
            </div>

            <div class="card1">
                <div class="Card1_top_text">
                    <div class="text1">
                        <span>hello</span>
                        <span>hello</span>
                        <i class="fa-solid fa-battery-empty"></i>
                    </div>
                    <div class="text2">
                        <p>Instagram</p>
                        <i class="fa-solid fa-road"></i>
                    </div>
                </div>
                <div class="Card1_top_text2">
                    <i class="fa-brands fa-stack-overflow"></i>
                    <i class="fa-brands fa-stack-overflow"> hello</i>
                </div>
                <img src="../../../assets/svg/download.jfif" alt="">
                <div class="img_bottom_icon">
                    <div>
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-regular fa-comment"></i>
                    </div>
                    <div>
                        <button class="btn1">See More</button>
                    </div>
                </div>
                <div class="bottom_text">
                    <p>Success is not final; failure is not fatal: It is the courage to continue that counts.</p>
                </div>
                <div class="bottom_icon">
                    <i class="fa-solid fa-house"></i>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-camera"></i>
                    <i class="fa-regular fa-comment"></i>
                    <i class="fa-regular fa-user"></i>
                </div>
            </div>

            <div class="card1">
                <div class="Card1_top_text">
                    <div class="text1">
                        <span>hello</span>
                        <span>hello</span>
                        <i class="fa-solid fa-battery-empty"></i>
                    </div>
                    <div class="text2">
                        <p>Instagram</p>
                        <i class="fa-solid fa-road"></i>
                    </div>
                </div>
                <div class="Card1_top_text2">
                    <i class="fa-brands fa-stack-overflow"></i>
                    <i class="fa-brands fa-stack-overflow"> hello</i>
                </div>
                <img src="../../../assets/svg/download.jfif" alt="">
                <div class="img_bottom_icon">
                    <div>
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-regular fa-comment"></i>
                    </div>
                    <div>
                        <button class="btn1">See More</button>
                    </div>
                </div>
                <div class="bottom_text">
                    <p>Success is not final; failure is not fatal: It is the courage to continue that counts.</p>
                </div>
                <div class="bottom_icon">
                    <i class="fa-solid fa-house"></i>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-camera"></i>
                    <i class="fa-regular fa-comment"></i>
                    <i class="fa-regular fa-user"></i>
                </div>
            </div>

        </div>


<!--
 CARD END   -->
       <div class="img"><img  src="../../../assets/svg/Screenshot_1.png" alt="why man"></div>
        <div class="main">
          <a class="sta" routerLink="/poll-two">STATISTICS</a>
            <div class="div-1">
                <div class="div-1-left">
                    <h1 class="a">YES</h1>
                    <h1>50%</h1>
                </div>
                <div>
                    <h1 class="a">NO</h1>
                    <h1>50%</h1>
                </div>
            </div>

            <p>Present Govt.would be continued again to ensure proper balance of prior 3rd world war sutuation</p>

            <div class="div-2">
                <h1 class="div-2-left">YES</h1>
                <h1>NO</h1>
            </div>
              <button class="btn-comment">Comment</button>
        </div>
        <button class="btn-submit">SUBMIT</button>
    </div>
</section>
