@import "src/theme/exports/top-input-header";

form {
  width: 95%;
  max-width: 850px;
  margin: 16px auto;

  mat-form-field {
    width: 100%;
  }

  button {
    padding: 4px 24px;
    border-radius: 25px;
  }
}

.form-img-avatar {
  img {
    cursor: pointer;
    border: 2px solid #c9c9c9;
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 85px;
    transition: 0.3s all linear;

    &:hover {
      opacity: 0.7;
    }
  }
}

