@import "src/theme/variables";

.container-fluid {
  width: 95%;
  max-width: 1050px;
  margin: 25px  auto;
}

.header {
  padding: 10px 0;
  h2 {
    font-size: 20px;
    font-family: $font-en-primary;
    color: #333333;
    font-weight: 600;
    text-align: center;
  }
  .link {
    text-align: center;
    p {
      line-height: 1.5;
    }
    a {
      font-family: $font-en-primary;
      color: #367bff;
      font-size: 16px;
      font-weight: 600;
      transition: 0.3s all linear;

      &:hover {
        text-decoration: underline;
        color: #1059e0;
    }
    }
  }
}

.required-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;

  .mat-form-field {
    width: 100%;
    padding: 0 6px;
  }
}

.main-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;

  .mat-form-field {
    width: 380px;
  }
}

.sub-cat-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 30px;

  .m-card {
    h3 {
      font-size: 18px;
      padding-bottom: 10px;
    }

    .mat-form-field {
      width: 100%;
    }
  }

}

.action-view {
  text-align: center;
  margin-top: 18px;

  .btn-round {
    padding: 5px 35px;
    border-radius: 35px !important;
  }
}
