<section class="login">
  <div class="container">
    <div class="flex-image-form">
      <div class="image">
        <img src="../../../assets/images/graph/Picture2.png" alt="" />
      </div>
      <div class="log-in-form">
        <div class="border-box">
          <h1>Welcome to family bonding</h1>
          <p>Login to see you in action</p>
          <div class="mat-tab">
            <mat-tab-group>
              <mat-tab label=" Family Admin">
                <div class="form">
                    <form >
                        <input type="text" placeholder="Enter Your Email or Login Id">
                        <input type="password" placeholder="Password">
                    </form>
                    <div class="button">
                        <button routerLink="/family-admin-basic-data">Login </button>
                      </div>
                </div>
                <div class="info-routing">
                    <p><a href="">Forget Password?</a></p>
                    <p>Do you have an Account?</p>
                    <p><a routerLink="/regestration">Create an Account</a></p>
                    <p><a routerLink="/re-regestration">Replace Mail Id</a></p>
                    <p class="copy">Family-Bonding.com 	&#169;</p>
                </div>

            </mat-tab>
            <mat-tab label="Family Member"><div class="form">
              <form >
                  <input type="text" placeholder="Enter Your Email or Login Id">
                  <input type="password" placeholder="Password">
              </form>
              <div class="button">
                  <button routerLink="/family-member-basic-data">Login </button>
                </div>
          </div>
          <div class="info-routing">
              <p><a href="">Forget Password?</a></p>
              <p>Do you have an Account?</p>
              <p><a routerLink="/regestration">Create an Account</a></p>
              <p><a routerLink="/re-regestration">Replace Mail Id</a></p>
              <p class="copy">Family-Bonding.com 	&#169;</p>
          </div> </mat-tab>
            <mat-tab label="Special"> <div class="form">
              <form >
                  <input type="text" placeholder="Enter Your Email or Login Id">
                  <input type="password" placeholder="Password">
              </form>
              <div class="button">
                  <button routerLink="/family-member-basic-data">Login </button>
                </div>
          </div>
          <div class="info-routing">
              <p><a href="">Forget Password?</a></p>
              <p>Do you have an Account?</p>
              <p><a routerLink="/regestration">Create an Account</a></p>
              <p><a routerLink="/re-regestration">Replace Mail Id</a></p>
              <p class="copy">Family-Bonding.com 	&#169;</p>
          </div> </mat-tab>
        </mat-tab-group>
    </div>
        </div>
      </div>
    </div>
  </div>
</section>
