

<section class="main">
  <div class="container">
    <div class="grid">
      <div class="grid-left">
        <h1>Register your Family</h1>
        <p>Be a Leading Family Member</p>
        <h2>Enter Your Details</h2>
        <form class="form">
          <input
            type="text"
            placeholder="Your Family Admin Referral ID or amra.auth@gmail.com"
          />
          <input type="email" placeholder="Enter your eMail ID" />
          <input type="password" placeholder="Password" />
          <input type="password" placeholder="Confirm Password" />
        </form>
        <div class="level">
          <input type="checkbox" id="1" name="agree1" value="agree" />
          <label for="vehicle1"> Agree Terms & Condition</label>
        </div>
        <div class="button">
          <button>Submit</button>
        </div>
      </div>
      <div class="grid-right">
        <h1>To Safe your Generation</h1>
        <div class="list">
          <ul>
            <li>
              <i class="fa-solid fa-spa"></i>
              <p>
                We know the definition of a Man and a Society is build-up by
                Families.
              </p>
            </li>
            <li>
              <i class="fa-solid fa-spa"></i>
              <p>
                When Parents are too much busy / separated then its consequence
                will go to their children’s.
              </p>
            </li>
            <li>
              <i class="fa-solid fa-spa"></i>
              <p>
                Those bad experienced children’s mentalities are growing up a
                bonding less family.
              </p>
            </li>
            <li>
              <i class="fa-solid fa-spa"></i>
              <p>
                At present Divorce rate are in Joint Family 3% and Single Family
                97%.
              </p>
            </li>
            <li>
              <i class="fa-solid fa-spa"></i>
              <p>
                To safe your family not only engages yourself but also engage
                your joint family members.
              </p>
            </li>
            <li>
              <i class="fa-solid fa-spa"></i>
              <p>
                Strong your Family bonding and enjoy your happy-peaceful conjugal life.
              </p>
            </li>
            <li>
              <i class="fa-solid fa-spa"></i>
              <p>
                As you develop your generation to be a happy successful your old
                age life.
              </p>
            </li>
            <li>
              <i class="fa-solid fa-spa"></i>
              <p>
                For that purpose we are here only for you and to get our free
                services please register.
              </p>
            </li>
          </ul>
        </div>
        <div class="graph-image">
          <img src="../../../assets/images/graph/Picture1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

