<section class="login">
    <div class="container">
      <div class="log-in-form">
        <div class="border-box">
          <div class="mat-tab">
            <mat-tab-group>
              <mat-tab label=" Family Admin">
                <div class="form">
                  <form>
                    <input
                      type="text"
                      placeholder="Your Family Admin Referral ID or amra.auth@gmail.com"
                    />
                    <input type="email" placeholder="Enter your eMail ID" />
                    <input type="password" placeholder="Password" />
                    <input type="password" placeholder="Confirm Password" />
                  </form>
                  <div class="level">
                    <input type="checkbox" id="1" name="agree1" value="agree" />
                    <label for="vehicle1"> Agree Terms & Condition</label>
                  </div>

                  <div class="button">
                    <button>Re-Regestration</button>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Family Member"> Family Member </mat-tab>
              <mat-tab label="Special"> Special </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </section>

