

  <section class="main">
    <div class="container">
      <div class="grid">
        <div class="grid-left">
          <h1>Register your Family</h1>
          <p>Be a Leading Family Member</p>
          <h2>Enter Your Details</h2>
          <form class="form">
            <input
              type="text"
              placeholder="Your Family Admin Referral ID or amra.auth@gmail.com"
            />
            <input type="email" placeholder="Enter your eMail ID" />
            <input type="password" placeholder="Password" />
            <input type="password" placeholder="Confirm Password" />
          </form>
          <div class="level">
            <input type="checkbox" id="1" name="agree1" value="agree" />
            <label for="vehicle1"> Agree Terms & Condition</label>
          </div>
          <div class="button">
            <button>Submit</button>
          </div>
        </div>
        <div class="grid-right">
          <h1>আপনারই প্রজন্মকে রক্ষা করতে
        </h1>
          <div class="list">
            <ul>
              <li>
                <i class="fa-solid fa-spa"></i>
                <p>
                    মানুষ হিসাবে আমাদের পরিচয়ের যতার্থতা হলো আমরা সামাজিক জীব । আর ঐ
                    সমাজ গঠনে ভুমিকা থাকে মা-বাবা ভাই-বোন দাদা-দাদী নিয়ে গঠিত পরিবারগুলোর

                </p>
              </li>

              <li>
                <i class="fa-solid fa-spa"></i>
                <p>
                    সেই মা-বাবার সম্পর্ক বিচ্ছেদ /অতি ব্যস্ততা-র ভয়াবহ শিকার হতে হচ্ছে সন্তানদেরকে ।

                </p>
              </li>
              <li>
                <i class="fa-solid fa-spa"></i>
                <p>
                    ঐসব সন্তানদের তিক্ত অভিজ্ঞতায় তৈরী হচ্ছে বন্ধনহীন রুঢ পারিবারিক চিন্তা-চেতনা ।

                </p>
              </li>
              <li>
                <i class="fa-solid fa-spa"></i>
                <p>
                    স্বামী-স্ত্রীর সম্পর্ক বিচ্ছেদের হারের মধ্যে বর্তমানে একক পরিবার ৯৭% যৌথ পরিবার ৩%।

                </p>
              </li>
              <li>
                <i class="fa-solid fa-spa"></i>
                <p>
                    পরিবারের নিরাপত্তায় শুধু নিজেকে নয়, আপনার যৌথ পরিবারের সকলকে যুক্ত রাখুন।

                </p>
              </li>
              <li>
                <i class="fa-solid fa-spa"></i>
                <p>
                    বুড়ো/বুড়ি অবস্থায় নিজের জীবন-যাপনকে আনন্দময় করার মত প্রজন্ম তৈরী করুণ।

                </p>
              </li>
              <li>
                <i class="fa-solid fa-spa"></i>
                <p>
                    এরই জন্য আমাদের বিনামূল্যের যত আয়োজন তা পেতে এখনই বিবন্ধন করুণ।


                </p>
              </li>

            </ul>
          </div>
          <div class="graph-image">
            <img src="../../../assets/images/graph/Picture1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>



