<section class="admin-data-sec">
  <div class="top-data-header">
    <div class="title">
      <h2>All Variations</h2>
    </div>

    <form class="table-search" #searchForm=ngForm>
      <input type="text"
             #searchInput
             name="searchTerm"
             autocomplete="off"
             ngModel placeholder="Search">
      <button><i class="fa fa-search"></i></button>
    </form>

    <div class="action">

      <div class="sort">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menuSort">
          Sort By
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menuSort="matMenu">
          <button mat-menu-item (click)="sortData({updatedAt: -1}, 1)" [class.dropdown-active]="activeSort === 1">
            Last Update
          </button>
          <button (click)="sortData({name: 1}, 2)" mat-menu-item [class.dropdown-active]="activeSort === 2">
            A-Z
          </button>
        </mat-menu>
      </div>

      <button *ngIf="checkAddPermission" mat-raised-button color="primary" [routerLink]="['../', 'add-variation']">
        <mat-icon>add</mat-icon>
        Add Variation
      </button>
    </div>

  </div> <!-- END TOP DATA HEADER -->

  <hr class="center-square">

  <div class="table-wrapper space">

    <div class="table-action" [class.dual]="activeSort || filter">
      <div class="left" *ngIf="activeSort || filter">
        <button mat-stroked-button color="accent" (click)="onRemoveAllQuery()">
          <mat-icon>close</mat-icon>
          Clear FilterData
        </button>
      </div>

      <div class="right" *ngIf="selectedIds && selectedIds.length">
        <!--        <button *ngIf="checkEditPermission" mat-stroked-button color="primary" [matMenuTriggerFor]="menu">-->
        <!--          Change Visibility-->
        <!--          <mat-icon>arrow_drop_down</mat-icon>-->
        <!--        </button>-->
        <!--        <mat-menu #menu="matMenu">-->
        <!--          <button mat-menu-item (click)="openConfirmDialog('edit', {visibility: true})">Public</button>-->
        <!--          <button mat-menu-item (click)="openConfirmDialog('edit', {visibility: false})">Private</button>-->
        <!--        </mat-menu>-->

        <button *ngIf="checkDeletePermission" mat-stroked-button color="warn" (click)="openConfirmDialog('delete')"
                matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div> <!-- END Table Action -->

    <table>
      <tr>
        <th class="t-checkbox">
          <mat-checkbox #matCheckbox (change)="onAllSelectChange($event)"></mat-checkbox>
        </th>
        <th>Name</th>
        <th>Values</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
      <tr
        *ngFor="let data of variations | paginate: { itemsPerPage: variationsPerPage, currentPage: currentPage, totalItems: totalVariations } ; let i = index">
        <td class="t-checkbox">
          <mat-checkbox class="t-mat-checkbox" [(ngModel)]="data.select"
                        (ngModelChange)="onCheckChange($event, i, data._id)"></mat-checkbox>
        </td>
        <td>{{data.name}}</td>
        <td>
          <button mat-stroked-button [matMenuTriggerFor]="menuVariationValues">
            View All Values
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menuVariationValues="matMenu">
            <button mat-menu-item *ngFor="let v of data.values">
              {{v}}
            </button>
          </mat-menu>
        </td>
        <td>{{data.createdAt | date}}</td>
        <td class="td-action">
          <button [disabled]="data._id === adminId || !checkEditPermission"
                  [routerLink]="['../', 'edit-variation', data._id]" mat-mini-fab matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <!--          <button mat-mini-fab matTooltip="Delete">-->
          <!--            <mat-icon>delete</mat-icon>-->
          <!--          </button>-->
          <!--          <a style="margin-left: 5px;" mat-mini-fab color="primary" [routerLink]="['/blog/', data?.slug]"-->
          <!--             target="_blank" mat-icon-button>-->
          <!--            <mat-icon>visibility</mat-icon>-->
          <!--          </a>-->
        </td>
      </tr>
    </table>
  </div>

  <div class="pagination-container">
    <pagination-controls
      class="data-pagination"
      [autoHide]="true"
      [maxSize]="15"
      (pageChange)="onPageChanged($event)">
    </pagination-controls>
  </div>     <!-- END PAGINATION -->


  <!-- LOADING TEMPLATE -->
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size="medium" color="#fff" type="ball-atom" [fullScreen]="false">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

</section>
