<!--<button mat-raised-button (click)="openLink()">-->
<!--  Open Link-->
<!--</button>-->

<!--{{product | json}}-->

<!-- <h1>Family Bonding webpage</h1> -->

<!--<div class="variant-options">-->
<!--  <div class="column" *ngFor="let data of product.variations; let i = index">-->
<!--    <div class="title">-->
<!--      <h3>{{data.name}}</h3>-->
<!--    </div>-->
<!--    <div class="options">-->
<!--      <button mat-raised-button *ngFor="let v of data.values; let j = index"-->
<!--              [class.active-btn]="v === varCombination[data.name]"-->
<!--              (click)="onSelectVariation(data, v)">-->
<!--        {{v}}-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="section10">
  <div class="container">
    <div class="title-area">
      <p class="publishDate">Publish Date 25-12-2022</p>
      <h2>Incredible news from FAMILY-BONDING!</h2>
      <p class="pTag">Beloved Family-Bonding Members</p>
      <p class="pTag">
        Having Successfully Completed the Alive 10 Million+ Family Member
        Registration, We will active for you the below mentioned incredible
        news.
      </p>
      <h2>
        We are Delighted to Announce the SMART Plan of Official Launch of
        Family-Bonding.Com which is fully depends on you!
      </h2>
    </div>

    <div class="Registration">
      <h1>Member Registration</h1>
      <table class="table">
        <tr>
          <th>TOTAL</th>
          <th>ALIVE</th>
          <th>TARGET</th>
          <th>ACHIEVE</th>
          <th>REQUIRED</th>
        </tr>
        <tr>
          <td>Server Data</td>
          <td>Server Data</td>
          <td>10000000</td>
          <td>Server Data</td>
          <td>Calculate Data</td>
        </tr>
        <tr class="tr-sub">
          <td class="td-sub">(Total Reg.)</td>
          <td class="td-sub">(Total Alive Member)</td>
          <td class="td-sub">H14</td>
          <td class="td-sub">Interested Alive)</td>
          <td class="td-sub">(Target - Achieve)</td>
        </tr>
      </table>
    </div>

    <div class="Ads" style="align-items: center; margin-top: 30px">
      <h1 class="AdsTitle">Ads View Program</h1>
      <p>
        10 Million Alive 18-65Years Registered Member (ID Type: For Me)
        Interested to Earn by Ad View then Ad View Beta Version (Audience:
        Family Internal Member Only) Will Run. [Country wise] <br />
        50 Million Alive 18-65Years Registered Member (ID Type: For Me)
        Interested to Earn by Ad View then (Ad/Marketing) Agency Registration
        Will Run. [Country wise]<br />
        100 Million Alive 18-65Years Registered Member (ID Type: For Me)
        Interested to Earn by Ad View then Domestic Commercial Ad Will Run.
        [Country wise]<br />
        1000 Million Alive 18-65Years Registered Member (ID Type: For Me)
        Interested to Earn by Ad View then International Commercial Ad Will Run.
        [Worldwide]<br />
      </p>
    </div>
    <div class="Ads-special" style="align-items: center; margin-top: 30px">
      <h1 class="AdsTitle">
        Special Offer for 1st 5 Million PV Completed Members Only
      </h1>
      <p>
        0.25Million+ ID's PV-Personal Verification (18-65Years) completed then
        Ad View Pre Beta Version (Audience: Family Internal Member Only) Will
        Run. <br />
        1st 2Million ID's PV-Personal Verification (18-65Years) Completed then
        their Free Allotted Ads (will be 5 multiplication) run 1st 50% within
        their family and Rest 50% for Targeted Audience<br />
        1st 2Million ID's PV-Personal Verification (18-65Years) Completed then
        their Free Allotted Ads (will be 4 multiplication) run 1st 50% within
        their family and Rest 50% for Targeted Audience<br />
        1st 2Million ID's PV-Personal Verification (18-65Years) Completed then
        their Free Allotted Ads (will be 3 multiplication) run 1st 50% within
        their family and Rest 50% for Targeted Audience<br />
        1st 2Million ID's PV-Personal Verification (18-65Years) Completed then
        their Free Allotted Ads (will be 2 multiplication) run 1st 50% within
        their family and Rest 50% for Targeted Audience<br />
      </p>
    </div>

    <div class="commercialAdsView">
      <p class="Watch">
        N.B.: Per Device 24 Hours only One Account is Permitted.[Commercial Ads
        View / Watch)
      </p>
      <p class="Watch">N.B.: Per Ad View Time Minimum 20 Seconds.</p>
    </div>

    <div class="allot" style="margin-top: 30px">
      <h1>Free Allot Ads</h1>
      <h2 style="text-align: center">
        Personal Profile 80% Complete with Interest Portion
      </h2>
      <table class="table-two" style="width: 1000px; margin-bottom: 10px">
        <tr>
          <th colspan="2">Ads Allot(Free)</th>
          <th colspan="2">Schedule</th>
          <th colspan="2">Planed Minimum Reach</th>
          <th colspan="2">Achieve Impression</th>
        </tr>
        <tr>
          <th>Member</th>
          <th>Family Admin</th>
          <th>Member</th>
          <th>Family Admin</th>
          <th>Member</th>
          <th>Family Admin</th>
          <th>Member</th>
          <th>Family Admin</th>
        </tr>
        <tr>
          <td>1 Img</td>
          <td>1 Set(5 Types Ad)</td>
          <td>15 Days</td>
          <td>30 Days</td>
          <td>50</td>
          <td>75</td>
          <td>100</td>
          <td>150</td>
        </tr>
      </table>

      <h2 style="text-align: center">
        Every 50 Times 100% Eligible Member 100% Ads View[Central Ads View Page
        Only]
      </h2>
      <table class="table-two" style="width: 1000px; margin-bottom: 10px">
        <tr>
          <th colspan="2">Ads Allot(Free)</th>
          <th colspan="2">Schedule</th>
          <th colspan="2">Planed Minimum Reach</th>
          <th colspan="2">Achieve Impression</th>
        </tr>
        <tr>
          <th>Member</th>
          <th>Family Admin</th>
          <th>Member</th>
          <th>Family Admin</th>
          <th>Member</th>
          <th>Family Admin</th>
          <th>Member</th>
          <th>Family Admin</th>
        </tr>
        <tr>
          <td>1 Set</td>
          <td>5 Set</td>
          <td>30 Days</td>
          <td>60 Days</td>
          <td>100</td>
          <td>250</td>
          <td>200</td>
          <td>500</td>
        </tr>
      </table>
      <h2 style="text-align: center">
        Every 100 Times Eligible Member 100% Poll Participant
      </h2>
      <table class="table-two" style="width: 1000px; margin-bottom: 10px">
        <tr>
          <th colspan="2">Ads Allot(Free)</th>
          <th colspan="2">Schedule</th>
          <th colspan="2">Planed Minimum Reach</th>
          <th colspan="2">Achieve Impression</th>
        </tr>
        <tr>
          <th>Member</th>
          <th>Family Admin</th>
          <th>Member</th>
          <th>Family Admin</th>
          <th>Member</th>
          <th>Family Admin</th>
          <th>Member</th>
          <th>Family Admin</th>
        </tr>
        <tr>
          <td>1 Set</td>
          <td>5 Set</td>
          <td>30 Days</td>
          <td>60 Days</td>
          <td>100</td>
          <td>250</td>
          <td>200</td>
          <td>500</td>
        </tr>
      </table>
      <h2 style="text-align: center">
        Every Times Eligible Member 100% Survey Participant
      </h2>
      <table class="table-two" style="width: 1000px; margin-bottom: 10px">
        <tr>
          <th colspan="2">Ads Allot(Free)</th>
          <th colspan="2">Schedule</th>
          <th colspan="2">Planed Minimum Reach</th>
          <th colspan="2">Achieve Impression</th>
        </tr>
        <tr>
          <th>Member</th>
          <th>Family Admin</th>
          <th>Member</th>
          <th>Family Admin</th>
          <th>Member</th>
          <th>Family Admin</th>
          <th>Member</th>
          <th>Family Admin</th>
        </tr>
        <tr>
          <td>1 Img</td>
          <td>1 Set</td>
          <td>15 Days</td>
          <td>30 Days</td>
          <td>50</td>
          <td>75</td>
          <td>100</td>
          <td>150</td>
        </tr>
      </table>
    </div>

    <div class="commercialAd">
      <h1>Commercial Ad</h1>
      <h2 style="text-align: center; padding: 10px 0px">
        Earning By Commercial Ads View & Watch[According to Viewer Interest,
        Connection and Searching KEYWORDs]
      </h2>
      <table style="width: 1300px; margin-bottom: 10px">
        <tr>
          <th rowspan="3">Earning Parameter</th>
          <th colspan="8">Ads Type</th>
          <th rowspan="2" colspan="2">Family Admin</th>
        </tr>
        <tr>
          <th colspan="3">Per Ad Minimum Earning [View Minimum 20 Seconds]</th>
          <th colspan="5">Per Ad Minimum Earning [Watch Minimum 20 Seconds]</th>
        </tr>

        <tr>
          <th>Ordinary Img.</th>
          <th>Panorama Img.</th>
          <th>Web/URL</th>
          <th>GIF/Slideshow</th>
          <th>Video/Animation</th>
          <th>3D 360°</th>
          <th>Instant Experience</th>
          <th>Carousel/Collection</th>
          <th>Bonus</th>
          <th>Referral Bonus</th>
        </tr>
        <tr>
          <td>Reach (Ad View Panel)</td>
          <td>$0.01</td>
          <td>$0.01</td>
          <td>$0.02</td>
          <td>$0.02</td>
          <td>$0.02</td>
          <td>$0.02</td>
          <td>$0.02</td>
          <td>$0.02</td>
          <td>5%</td>
          <td>5%</td>
        </tr>
        <tr>
          <td>Reach (Search Ad Page)</td>
          <td>$0.02</td>
          <td>$0.02</td>
          <td>$0.02</td>
          <td>$0.04</td>
          <td>$0.04</td>
          <td>$0.04</td>
          <td>$0.04</td>
          <td>$0.04</td>
          <td>5%</td>
          <td>5%</td>
        </tr>
        <tr>
          <th
            style="text-align: start !important; padding-left: 5px"
            colspan="10"
          >
            Engagement
          </th>
        </tr>
        <tr>
          <td>Like & Share</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>5%</td>
          <td>5%</td>
        </tr>

        <tr>
          <td>Comment / Dislike</td>
          <td>$0.01</td>
          <td>$0.01</td>
          <td>$0.01</td>
          <td>$0.01</td>
          <td>$0.01</td>
          <td>$0.01</td>
          <td>$0.01</td>
          <td>$0.01</td>
          <td>5%</td>
          <td>5%</td>
        </tr>

        <tr>
          <td>Visit / Action</td>
          <td>$0.01</td>
          <td>$0.01</td>
          <td>$0.01</td>
          <td>$0.01</td>
          <td>$0.01</td>
          <td>$0.01</td>
          <td>$0.01</td>
          <td>$0.01</td>
          <td>5%</td>
          <td>5%</td>
        </tr>

        <tr>
          <td>Info. Awareness</td>
          <td>$0.05</td>
          <td>$0.05</td>
          <td>$0.05</td>
          <td>$0.05</td>
          <td>$0.05</td>
          <td>$0.05</td>
          <td>$0.05</td>
          <td>$0.05</td>
          <td>5%</td>
          <td>5%</td>
        </tr>

        <tr>
          <th
            style="text-align: start !important; padding-left: 5px"
            colspan="10"
          >
            Country
          </th>
        </tr>

        <tr>
          <td>Now N/A</td>
          <td>Later Applicable</td>
          <td>L/A</td>
          <td>L/A</td>
          <td>L/A</td>
          <td>L/A</td>
          <td>L/A</td>
          <td>L/A</td>
          <td>L/A</td>
          <td>L/A</td>
          <td>L/A</td>
        </tr>

        <tr>
          <th colspan="10">
            Super Admin Charge 10% from your Earnings but 1st Time 0% Charge.
          </th>
        </tr>
        <tr>
          <th colspan="10">
            Deduct 5% from your Earnings as Yearly Subscription Fee in
            Every(Month) Withdraw Time but 1st Withdraw Time 100% Free.
          </th>
        </tr>
      </table>

      <h2 style="text-align: center; padding: 10px 0px">
        Basic Cost Calculation of Commercial Ads View & Watch[According to
        Advertiser Campaign and Ads Setup]
      </h2>
      <table style="width: 1300px; margin-bottom: 10px">
        <tr>
          <th rowspan="3">Costing Parameter</th>
          <th colspan="8">Ads Type</th>
          <th rowspan="2" colspan="2">Agency / Broker</th>
        </tr>
        <tr>
          <th colspan="3">Per Ad & Person Cost [View Minimum 20 Seconds]</th>
          <th colspan="5">Per Ad & Person Cost [View Minimum 20 Seconds]</th>
        </tr>

        <tr>
          <th>Ordinary Img.</th>
          <th>Panorama Img.</th>
          <th>Web/URL</th>
          <th>GIF/Slideshow</th>
          <th>Video/Animation</th>
          <th>3D 360°</th>
          <th>Instant Experience</th>
          <th>Carousel/Collection</th>
          <th>Commission</th>
          <th>Referral Bonus</th>
        </tr>
        <tr>
          <td>Reach (Ad View Panel)</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.06</td>
          <td>$0.06</td>
          <td>$0.06</td>
          <td>$0.06</td>
          <td>$0.06</td>
          <td>20%</td>
          <td>50%</td>
        </tr>
        <tr>
          <td>Reach (Search Ad Page)</td>
          <td>$0.06</td>
          <td>$0.06</td>
          <td>$0.06</td>
          <td>$0.12</td>
          <td>$0.12</td>
          <td>$0.12</td>
          <td>$0.12</td>
          <td>$0.12</td>
          <td>20%</td>
          <td>5%</td>
        </tr>
        <tr>
          <th
            style="text-align: start !important; padding-left: 5px"
            colspan="10"
          >
            Engagement
          </th>
        </tr>
        <tr>
          <td>Like & Share</td>
          <td>$0.09</td>
          <td>$0.09</td>
          <td>$0.09</td>
          <td>$0.09</td>
          <td>$0.09</td>
          <td>$0.09</td>
          <td>$0.09</td>
          <td>$0.09</td>
          <td>20%</td>
          <td>5%</td>
        </tr>

        <tr>
          <td>Comment / Dislike</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>20%</td>
          <td>5%</td>
        </tr>

        <tr>
          <td>Visit / Action</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>$0.03</td>
          <td>20%</td>
          <td>5%</td>
        </tr>

        <tr>
          <td>Info. Awareness</td>
          <td>$0.15</td>
          <td>$0.15</td>
          <td>$0.15</td>
          <td>$0.15</td>
          <td>$0.15</td>
          <td>$0.15</td>
          <td>$0.15</td>
          <td>$0.15</td>
          <td>20%</td>
          <td>5%</td>
        </tr>

        <tr>
          <th
            style="text-align: start !important; padding-left: 5px"
            colspan="10"
          >
            Country
          </th>
        </tr>

        <tr>
          <td>Now N/A</td>
          <td>Later Applicable</td>
          <td>L/A</td>
          <td>L/A</td>
          <td>L/A</td>
          <td>L/A</td>
          <td>L/A</td>
          <td>L/A</td>
          <td>L/A</td>
          <td>L/A</td>
          <td>L/A</td>
        </tr>
      </table>

      <h1 style="padding: 20px !important">Event (AI) Attendance</h1>
      <table style="width: 1300px; margin-bottom: 10px">
        <tr>
          <th style="background-color: #0d812b; color: white" rowspan="2">
            Event Name <br />
            (Attendence-Based)
          </th>
          <th colspan="4">
            Base Calculation of a Unit Per 100 participant Per Hour a Live Cam
            in Every Event
          </th>
        </tr>

        <tr>
          <th>Client (Online/Live)</th>
          <th>Client (Offline)</th>
          <th>Agent/Broker Commission</th>
          <th>Referral Bonus</th>
        </tr>
        <tr>
          <td style="background-color: yellow; color: #1d1d1d; font-size: 20px">
            Scheduled Events
          </td>
          <td>$50.00</td>
          <td>$25.00</td>
          <td>20%</td>
          <td>5%</td>
        </tr>

        <tr>
          <td>Sports</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Conferences</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Expos</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Concerts</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Festivals</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Performing Arts</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Community</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Other</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <h1 style="padding: 20px !important">Survey</h1>
      <table style="width: 1300px; margin-bottom: 10px">
        <tr>
          <th style="background-color: #0d812b; color: white">Survey Name</th>
          <th colspan="6">
            Base Calculation of Unit Per 10 Data Collection in Every Survey Per
            Participant
          </th>
        </tr>

        <tr>
          <th>(Customizable)</th>
          <th>Survey Client</th>
          <th>Agent/Broker Commission</th>
          <th>Referral Bonus</th>
          <th>Participant</th>
          <th>Family Admin</th>
          <th>Referral Bonus</th>
        </tr>
        <tr>
          <td style="background-color: yellow; color: #1d1d1d; font-size: 20px">
            Market Research Survey
          </td>
          <td>$3.00</td>
          <td>20%</td>
          <td>5%</td>
          <td>$1.00</td>
          <td>5%</td>
          <td>5%</td>
        </tr>
        <tr>
          <th
            style="text-align: start !important; padding-left: 5px"
            colspan="6"
          >
            Concept Testing
          </th>
        </tr>
        <tr>
          <td style="text-align: end !important">Product Testing</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: end !important">Ad Testing</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: end !important">Name Testing</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: end !important">Logo Testing</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: end !important">Messaging/Claims Testing</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: end !important">Package Testing</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: end !important">Price Testing</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th
            style="text-align: start !important; padding-left: 5px"
            colspan="6"
          >
            Brand Research
          </th>
        </tr>

        <tr>
          <td style="text-align: end !important">Brand Awareness</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: end !important">Brand Conversion</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: end !important">Brand Personality</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: end !important">Brand Performance</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th
            style="text-align: start !important; padding-left: 5px"
            colspan="6"
          >
            Customer Profiling
          </th>
        </tr>

        <tr>
          <td style="text-align: end !important">Typical Customer Analysis</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: end !important">
            Typical Customer Demographics
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: end !important">Employment</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: end !important">Firmographics</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: end !important">Target Market Analysis</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: end !important">Target Market Demographics</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th
            style="text-align: start !important; padding-left: 5px"
            colspan="6"
          >
            Other
          </th>
        </tr>

        <tr>
          <td style="text-align: end !important">Shopper Insights</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: end !important">Consumer Behavior</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: end !important">Path to Purchase</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <h1 style="padding: 20px !important">Poll</h1>

      <table style="width: 1300px; margin-bottom: 10px">
        <tr>
          <th style="background-color: #0d812b; color: white">Poll Name</th>
          <th colspan="6">
            Base Calculation of Per 100 Data Collection in Every Poll
          </th>
        </tr>

        <tr>
          <th></th>
          <th>Survey Client</th>
          <th>Agent/Broker Commission</th>
          <th>Referral Bonus</th>
          <th>Participant</th>
          <th>Family Admin</th>
          <th>Referral Bonus</th>
        </tr>
        <tr>
          <td style="background-color: yellow; color: #1d1d1d; font-size: 20px">
            100 Participant Per Poll
          </td>
          <td>$5.00</td>
          <td>20%</td>
          <td>5%</td>
          <td>$1.00</td>
          <td>5%</td>
          <td>5%</td>
        </tr>
      </table>

      <h1 style="padding: 20px !important">Services</h1>

      <table style="width: 1300px; margin-bottom: 10px">
        <tr>
          <th rowspan="2" style="background-color: #0d812b; color: white">
            Service Name
          </th>
          <th style="text-align: center" colspan="3">
            Yearly KYC Fee of Alive Family Member Only
          </th>
        </tr>

        <tr>
          <th>Family Member</th>
          <th>Family Admin</th>
          <th>Referral Bonus</th>
        </tr>
        <tr>
          <td style="background-color: yellow; color: #1d1d1d; font-size: 20px">
            Search Result Optimization
          </td>
          <td>$15.00</td>
          <td>5%</td>
          <td>5%</td>
        </tr>
        <tr>
          <td>Optimization of Search Result with GPS</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th
            style="text-align: start !important; padding-left: 5px"
            colspan="10"
          >
            To Receive / Provide Services
          </th>
        </tr>
        <tr>
          <td>Family Bonding Activities Auto Regularly</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Family Strength Measure by Family Tree</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Family Member Social Security</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Blood</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Organ</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Full / Part Time Job or Services</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Life Partner</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Eventwise Face Detection & Recognition</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Eventwise Zoom Program</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Whatsapp Cloud Facilities</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>To-Do-List</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Survey</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Poll</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Affiliate</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>EOI-for Asset Management</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Earning by Ad View/Survey Participant</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Earning as a Family Admin Bonus</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Earning by Referral Bonus</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Earning by Agent/Broker Commission</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Others</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>

    <div class="eoi">
      <h1>EOI & Execution</h1>
      <table class="table-three" style="width: 1000px">
        <tr>
          <th style="text-align: center; background-color: #27682c" colspan="5">
            Agency / Broker
          </th>
        </tr>
        <tr>
          <th>EOI Applicant</th>
          <th>Final Owners</th>
          <th>Comm.on Project Value</th>
          <th>Commission</th>
          <th>Referral Bonus</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>.</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>.</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th colspan="5">
            Above all calculation depends on Negotiation Among Stakeholders of
            Project EOI Execution Policies.
          </th>
        </tr>
      </table>
      <br /><br />

      <table class="table-three" style="width: 1000px">
        <tr>
          <th style="text-align: center; background-color: #27682c" colspan="5">
            Inflow Sources
          </th>
        </tr>
        <tr>
          <th>Request Processing</th>
          <th>Study Report</th>
          <th>Project EOI Registration</th>
          <th>MOU Documentation</th>
          <th>Service Charge</th>
        </tr>
        <tr>
          <td>.</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>.</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>.</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th colspan="5">
            Above all calculation depends on Negotiation Among Stakeholders of
            Project EOI Execution Policies.
          </th>
        </tr>
      </table>
    </div>

    <div class="end">
      <h1>Good Wishes to all Family-Admins, Members and Stakeholders.</h1>
      <p>Family-Bonding.Com Team</p>
    </div>
  </div>
</div>

<!--&lt;!&ndash;-section-6&ndash;&gt;-->
<!--<div class="section-6">-->
<!--  <div class="container">-->
<!--    <div class="title-area">-->
<!--      <h1>Shop By Categories</h1>-->
<!--    </div>-->
<!--    <div class="section6-main carousel">-->
<!--      <swiper-->
<!--        [slidesPerView]="2"-->
<!--        [spaceBetween]="12"-->
<!--        [autoplay]="true"-->
<!--        [loop]="false"-->
<!--        [navigation]="true"-->
<!--        [breakpoints]="{-->
<!--                '520': {-->
<!--                    slidesPerView: 3.5,-->
<!--                    spaceBetween:15-->
<!--                },-->
<!--                '768': {-->
<!--                    slidesPerView: 5-->
<!--                },-->
<!--                '1100': {-->
<!--                  slidesPerView: 6-->
<!--              },-->
<!--                '1400': {-->
<!--                    slidesPerView: 7.5-->
<!--                },-->
<!--                '1600': {-->
<!--                    slidesPerView:9-->
<!--                }-->
<!--                }"-->
<!--        class="mySwiper"-->
<!--      >-->
<!--        <ng-template swiperSlide *ngFor="let data of categories">-->
<!--          &lt;!&ndash;-category-card&ndash;&gt;-->
<!--          <app-category-card-one [data]="data"></app-category-card-one>-->
<!--        </ng-template>-->
<!--      </swiper>-->

<!--    </div>-->
<!--    <div class="view-btn">-->
<!--      <a routerLink="/categories"><i class="fa fa-eye"></i>View All Category</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash;-section-1&ndash;&gt;-->
<!--<div class="section-1" *ngIf="promoOffer">-->
<!--  <div class="container">-->
<!--    <div class="section1-top">-->
<!--      &lt;!&ndash;title-area&ndash;&gt;-->
<!--      <div class="title-area">-->
<!--        <h1>Best Deals On Items</h1>-->
<!--      </div>-->
<!--      &lt;!&ndash;time-area&ndash;&gt;-->
<!--      <app-time-counter-one [endDate]="promoOffer?.endDateTime"></app-time-counter-one>-->
<!--    </div>-->
<!--    &lt;!&ndash;-section4-main-area&ndash;&gt;-->
<!--    <div class="section1-main">-->
<!--      <app-product-card-one [data]="data.product" *ngFor="let data of promoOffer.products | slice: 0: 10"></app-product-card-one>-->
<!--    </div>-->
<!--    &lt;!&ndash;view-btn&ndash;&gt;-->
<!--    <div class="view-btn">-->
<!--      <a routerLink="/promo-products"><i class="fa fa-eye"></i> View All Deals</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div> &lt;!&ndash; PROMO Offer Section &ndash;&gt;-->

<!--&lt;!&ndash;-section-2 -&ndash;&gt;-->
<!--<div class="section-2">-->
<!--  <div class="container">-->
<!--    <div class="title-area">-->
<!--      <h1>Our Featured Items</h1>-->
<!--    </div>-->
<!--    &lt;!&ndash;-secton2-main&ndash;&gt;-->
<!--    <div class="section2-main">-->
<!--      <ng-container *ngIf="isLoadingFeaturedProducts">-->
<!--        <app-product-car-one-loader [type]="'list'" *ngFor="let product of  [1,2,3,4,5,6]"></app-product-car-one-loader>-->
<!--      </ng-container>-->
<!--      <ng-container *ngIf="!isLoadingFeaturedProducts">-->
<!--        <app-feature-card *ngFor="let data of  featureProducts" [product]="data"></app-feature-card>-->
<!--      </ng-container>-->
<!--    </div>-->
<!--    <div class="view-btn">-->
<!--      <a routerLink="../product-list"><i class="fa fa-eye"></i> View All Feature</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash;-section-3&ndash;&gt;-->
<!--&lt;!&ndash;<div class="section-3">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="section3-main">&ndash;&gt;-->
<!--&lt;!&ndash;      <h4>Only <span>$45</span> per Kilogram</h4>&ndash;&gt;-->
<!--&lt;!&ndash;      <h2>Fresh Blueberries</h2>&ndash;&gt;-->
<!--&lt;!&ndash;      <button><i class="fa-solid fa-basket-shopping"></i>Show Now</button>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;-section-4&ndash;&gt;-->
<!--<div class="section-4">-->
<!--  <div class="container">-->
<!--    <div class="title-area">-->
<!--      <h1>Collected New Items</h1>-->
<!--    </div>-->
<!--    <div class="section4-main carousel">-->
<!--      <swiper-->
<!--        [slidesPerView]="1"-->
<!--        [spaceBetween]="20"-->
<!--        [autoplay]="true"-->
<!--        [navigation]="true"-->
<!--        [breakpoints]="{-->
<!--                '0': {-->
<!--                    slidesPerView: 2,-->
<!--                    spaceBetween:10-->
<!--                },-->
<!--                '500': {-->
<!--                  slidesPerView: 2.5,-->
<!--                  spaceBetween:15-->
<!--               },-->
<!--                '660': {-->
<!--                  slidesPerView: 3-->
<!--               },-->
<!--                '760': {-->
<!--                  slidesPerView: 3.5-->
<!--              },-->
<!--                '860': {-->
<!--                    slidesPerView: 4-->
<!--                },-->
<!--                '990': {-->
<!--                  slidesPerView: 3.5-->
<!--              },-->
<!--                '1100': {-->
<!--                    slidesPerView: 4-->
<!--                },-->
<!--                '1300': {-->
<!--                  slidesPerView: 5-->
<!--               },-->
<!--                '1500': {-->
<!--                    slidesPerView: 6-->
<!--                }-->
<!--                }"-->
<!--        class="mySwiper"-->
<!--      >-->
<!--        <ng-template swiperSlide *ngFor="let product of newProducts">-->
<!--          <ng-container *ngIf="isLoadingFeaturedProducts">-->
<!--            <app-product-car-one-loader [type]="'grid'"></app-product-car-one-loader>-->
<!--          </ng-container>-->
<!--          <ng-container *ngIf="!isLoadingFeaturedProducts">-->
<!--            <app-product-card-one [data]="product"></app-product-card-one>-->
<!--          </ng-container>-->
<!--        </ng-template>-->
<!--      </swiper>-->
<!--    </div>-->
<!--    &lt;!&ndash;view-btn&ndash;&gt;-->
<!--    <div class="view-btn">-->
<!--      <a routerLink="../product-list"><i class="fa fa-eye"></i> View All Item</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash;-section5&ndash;&gt;-->
<!--<div class="section-5">-->
<!--  <div class="container">-->
<!--    <div class="title-area">-->
<!--      <h1>Browse By Top Niche</h1>-->
<!--    </div>-->
<!--    &lt;!&ndash;-section5-filter&ndash;&gt;-->
<!--    <div class="filter-area">-->
<!--      <ul>-->
<!--        <li>-->
<!--          <button (click)="onClickShowNiche('topSales')"-->
<!--                  [class.active-filter-btn]="selectedProductType === 'topSales'"><i-->
<!--            class="fa-solid fa-sack-dollar"></i>Top Sales-->
<!--          </button>-->
<!--        </li>-->
<!--        <li>-->
<!--          <button (click)="onClickShowNiche('topRating')"-->
<!--                  [class.active-filter-btn]="selectedProductType === 'topRating'"-->
<!--          ><i class="fa fa-star"></i> Top Rating-->
<!--          </button>-->
<!--        </li>-->
<!--        <li>-->
<!--          <button (click)="onClickShowNiche('topDiscount')"-->
<!--                  [class.active-filter-btn]="selectedProductType === 'topDiscount'"-->
<!--          ><i class="fa-solid fa-percent"></i> Top Discount-->
<!--          </button>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    &lt;!&ndash;-section5-main&ndash;&gt;-->
<!--    <div class="section5-main" *ngIf="selectedProductType == 'topSales'">-->
<!--      <ng-container *ngIf="isLoadingTopSalesProducts">-->
<!--        <app-product-car-one-loader [type]="'grid'"></app-product-car-one-loader>-->
<!--      </ng-container>-->
<!--      <ng-container *ngIf="!isLoadingTopSalesProducts">-->
<!--        <app-product-card-one [data]="product" *ngFor="let product of topSalesProducts"></app-product-card-one>-->
<!--      </ng-container>-->
<!--    </div>-->

<!--    <div class="section5-main" *ngIf="selectedProductType == 'topRating'">-->
<!--      <ng-container *ngIf="isLoadingTopSalesProducts">-->
<!--        <app-product-car-one-loader [type]="'grid'"></app-product-car-one-loader>-->
<!--      </ng-container>-->
<!--      <ng-container *ngIf="!isLoadingTopSalesProducts">-->
<!--        <app-product-card-one [data]="product" *ngFor="let product of topRatingProducts"></app-product-card-one>-->
<!--      </ng-container>-->
<!--    </div>-->

<!--    <div class="section5-main" *ngIf="selectedProductType == 'topDiscount'">-->
<!--      <ng-container *ngIf="isLoadingTopSalesProducts">-->
<!--        <app-product-car-one-loader [type]="'grid'"></app-product-car-one-loader>-->
<!--      </ng-container>-->
<!--      <ng-container *ngIf="!isLoadingTopSalesProducts">-->
<!--        <app-product-card-one [data]="product" *ngFor="let product of topDiscountProducts"></app-product-card-one>-->
<!--      </ng-container>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash;-section - 7&ndash;&gt;-->
<!--<div class="section-7">-->
<!--  <div class="container">-->
<!--    <div class="title-area">-->
<!--      <h1>Shop By Brands</h1>-->
<!--    </div>-->
<!--    <div class="section7-main carousel">-->
<!--      <swiper-->
<!--        [slidesPerView]="1"-->
<!--        [spaceBetween]="20"-->
<!--        [autoplay]="true"-->
<!--        [loop]="false"-->
<!--        [navigation]="true"-->
<!--        [breakpoints]="{-->
<!--                '380': {-->
<!--                        slidesPerView: 2,-->
<!--                        spaceBetween:15-->
<!--                },-->
<!--                '520': {-->
<!--                    slidesPerView: 2.5,-->
<!--                    spaceBetween:15-->
<!--                },-->
<!--                '568': {-->
<!--                  slidesPerView: 3-->
<!--                },-->
<!--                '668': {-->
<!--                    slidesPerView: 3.5-->
<!--                },-->
<!--                '800': {-->
<!--                  slidesPerView: 4-->
<!--                },-->
<!--                '900': {-->
<!--                  slidesPerView: 5-->
<!--                },-->
<!--                '990': {-->
<!--                    slidesPerView: 4-->
<!--                },-->
<!--                '1150': {-->
<!--                  slidesPerView: 5-->
<!--                },-->
<!--                '1300': {-->
<!--                  slidesPerView: 6-->
<!--                },-->
<!--                '1500': {-->
<!--                  slidesPerView: 7-->
<!--                },-->
<!--                '1700': {-->
<!--                    slidesPerView: 8-->
<!--                }-->
<!--                }"-->
<!--        class="mySwiper"-->
<!--      >-->
<!--        <ng-template swiperSlide *ngFor="let data of brands">-->
<!--          <app-brand-card-one [data]="data"></app-brand-card-one>-->
<!--        </ng-template>-->
<!--      </swiper>-->

<!--    </div>-->
<!--    &lt;!&ndash;-view-btn&ndash;&gt;-->
<!--    <div class="view-btn">-->
<!--      <a routerLink="/brands"><i class="fa fa-eye"></i>View All Brands</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;-section-8&ndash;&gt;-->
<!--&lt;!&ndash;<div class="section-8">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="title-area">&ndash;&gt;-->
<!--&lt;!&ndash;      <h1>Client's Feedback</h1>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="section8-main carousel">&ndash;&gt;-->
<!--&lt;!&ndash;      <swiper&ndash;&gt;-->
<!--&lt;!&ndash;        [effect]="'coverflow'"&ndash;&gt;-->
<!--&lt;!&ndash;        [grabCursor]="true"&ndash;&gt;-->
<!--&lt;!&ndash;        [autoplay]="true"&ndash;&gt;-->
<!--&lt;!&ndash;        [loop]="true"&ndash;&gt;-->
<!--&lt;!&ndash;        [centeredSlides]="true"&ndash;&gt;-->
<!--&lt;!&ndash;        [zoom]="true"&ndash;&gt;-->
<!--&lt;!&ndash;        [grabCursor]="true"&ndash;&gt;-->
<!--&lt;!&ndash;        [navigation]="true"&ndash;&gt;-->
<!--&lt;!&ndash;        [slidesPerView]="'auto'"&ndash;&gt;-->
<!--&lt;!&ndash;        [coverflowEffect]="{&ndash;&gt;-->
<!--&lt;!&ndash;                rotate: 60,&ndash;&gt;-->
<!--&lt;!&ndash;                stretch: 0,&ndash;&gt;-->
<!--&lt;!&ndash;                depth:100,&ndash;&gt;-->
<!--&lt;!&ndash;                modifier: 1,&ndash;&gt;-->
<!--&lt;!&ndash;                slideShadows: true&ndash;&gt;-->
<!--&lt;!&ndash;                }"&ndash;&gt;-->
<!--&lt;!&ndash;        [breakpoints]="{&ndash;&gt;-->
<!--&lt;!&ndash;                    '0': {&ndash;&gt;-->
<!--&lt;!&ndash;                        slidesPerView: 1,&ndash;&gt;-->
<!--&lt;!&ndash;                        spaceBetween:15&ndash;&gt;-->
<!--&lt;!&ndash;                    },&ndash;&gt;-->
<!--&lt;!&ndash;                    '768': {&ndash;&gt;-->
<!--&lt;!&ndash;                        slidesPerView: 1.4&ndash;&gt;-->
<!--&lt;!&ndash;                    },&ndash;&gt;-->
<!--&lt;!&ndash;                    '1000': {&ndash;&gt;-->
<!--&lt;!&ndash;                        slidesPerView: 1.6,&ndash;&gt;-->
<!--&lt;!&ndash;                        spaceBetween:100&ndash;&gt;-->
<!--&lt;!&ndash;                    }&ndash;&gt;-->
<!--&lt;!&ndash;                    }"&ndash;&gt;-->
<!--&lt;!&ndash;        class="mySwiper"&ndash;&gt;-->
<!--&lt;!&ndash;      >&ndash;&gt;-->
<!--&lt;!&ndash;        <ng-template swiperSlide *ngFor="let data of [1,2,3,4,5]">&ndash;&gt;-->

<!--&lt;!&ndash;          &lt;!&ndash;client-card&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="client-card">&ndash;&gt;-->
<!--&lt;!&ndash;            <span><i class="fas fa-quote-left"></i></span>&ndash;&gt;-->
<!--&lt;!&ndash;            <p>Lorem ipsum dolor consectetur adipisicing elit neque earum sapiente vitae obcaecati magnam doloribus&ndash;&gt;-->
<!--&lt;!&ndash;              magni provident ipsam</p>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="client-user">&ndash;&gt;-->
<!--&lt;!&ndash;              <h2>mahmud hasan</h2>&ndash;&gt;-->
<!--&lt;!&ndash;              <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;              </ul>&ndash;&gt;-->
<!--&lt;!&ndash;              <img src="./assets/images/temp/image/client1.jpg" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;      </swiper>&ndash;&gt;-->

<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;-section9-&ndash;&gt;-->
<!--<div class="section-9" *ngIf="blogs && blogs.length">-->
<!--  <div class="container">-->
<!--    &lt;!&ndash;-title-area&ndash;&gt;-->
<!--    <div class="title-area">-->
<!--      <h1>Read Our Articles</h1>-->
<!--    </div>-->
<!--    <div class="section9-main carousel">-->
<!--      <swiper-->
<!--        [slidesPerView]="1"-->
<!--        [spaceBetween]="20"-->
<!--        [autoplay]="false"-->
<!--        [loop]="false"-->
<!--        [navigation]="true"-->
<!--        [breakpoints]="{-->
<!--                  '500': {-->
<!--                    slidesPerView:1.5-->
<!--                  },-->
<!--                  '668': {-->
<!--                    slidesPerView:2-->
<!--                },-->
<!--                '800': {-->
<!--                  slidesPerView:2.5-->
<!--               },-->
<!--                '900': {-->
<!--                    slidesPerView:3-->
<!--                },-->
<!--                '990': {-->
<!--                  slidesPerView: 2.5-->
<!--                },-->
<!--                '1200': {-->
<!--                  slidesPerView: 3-->
<!--                },-->
<!--                '1400': {-->
<!--                  slidesPerView: 3.5-->
<!--                },-->
<!--                '1550': {-->
<!--                    slidesPerView: 4-->
<!--                }-->
<!--                }"-->
<!--        class="mySwiper"-->
<!--      >-->
<!--        <ng-template swiperSlide *ngFor="let data of blogs">-->
<!--          <app-blog-card [data]="data"></app-blog-card>-->
<!--        </ng-template>-->
<!--      </swiper>-->

<!--    </div>-->
<!--    &lt;!&ndash;-view-btn&ndash;&gt;-->
<!--    <div class="view-btn">-->
<!--      <a routerLink="/blogs"><i class="fa fa-eye"></i> View All Blog</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
