<section class="survey">
    <div class="container">
        <div class="main">
            <h1>
                Survey Request Form
            </h1>
            <div class="title">
              <div class="titlel">
                <span>
                    Survey Name
                </span>
                <span>
                    Audience Name
                </span>
              </div>
              <div class="titler">
                <span>
                    Audience Setup
                </span>
              </div>
            </div>
            <div class="surveyform">
                <div class="selects">
                    <mat-form-field appearance="fill" class="questionfield">
                        <mat-label>Question Fields</mat-label>
                        <mat-select >
                          <mat-option value="option1">Option 1</mat-option>
                          <mat-option value="option2" >Option 2 </mat-option>
                          <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                      </mat-form-field>
                      
                      <mat-form-field appearance="fill" class="questionfield">
                          <mat-label>Answer Fields</mat-label>
                          <mat-select >
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2" >Option 2 </mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                          </mat-select>
                        </mat-form-field>
                </div>
                <!-- <input type="radio" id="html" name="fav_language" value="HTML"> -->
                <label for="html">text with lable</label><br>
                
                <div class="textarea">
                    <mat-form-field class="example-full-width">
                        <mat-label>Textarea with Label</mat-label>
                        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                      </mat-form-field>
                </div>
                <div class="rediobtnlable">
                    <mat-radio-group aria-label="Select an option">
                    <label for="">Select an option</label>
                        <mat-radio-button class="mat-radio-buttona" value="1">Option 1</mat-radio-button>
                        <mat-radio-button class="mat-radio-buttonb" value="2">Option 2</mat-radio-button>
                      </mat-radio-group>
                </div>
                <div class="multipleredio">
                    <label for="">multiple redio</label>
                    <mat-radio-button value="1">Option 1</mat-radio-button>
                    <mat-radio-button value="2">Option 1</mat-radio-button>
                    <mat-radio-button value="3">Option 1</mat-radio-button>
                    <mat-radio-button value="4">Option 1</mat-radio-button>
                    <mat-radio-button value="5">Option 1</mat-radio-button>
             </div>
             <div class="checkbox">
                <section class="example-section" >
                    <label for=""> Chackbox </label>
                    <p><mat-checkbox formControlName="pepperoni">Pepperoni</mat-checkbox></p>
                  </section>
             </div>
             <div class="mcheckbox">
                <section class="example-section" >
                    <label for=""> Multiple Chackbox </label>
                    <p><mat-checkbox formControlName="pepperoni">Pepperoni</mat-checkbox></p>
                    <p><mat-checkbox formControlName="pepperoni">Pepperoni</mat-checkbox></p>
                    <p><mat-checkbox formControlName="pepperoni">Pepperoni</mat-checkbox></p>
                    <p><mat-checkbox formControlName="pepperoni">Pepperoni</mat-checkbox></p>
                    <p><mat-checkbox formControlName="pepperoni">Pepperoni</mat-checkbox></p>
                  </section>
             </div>
             <div class="dropdown">
                    <mat-form-field appearance="fill" class="questionfield">
                        <mat-label>Dropdown List</mat-label>
                        <mat-select >
                          <mat-option value="option1">Option 1</mat-option>
                          <mat-option value="option2" >Option 2 </mat-option>
                          <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                      </mat-form-field>
                   
             </div>
             <div class="mdropdown">
                <mat-form-field appearance="fill" class="questionfield">
                    <mat-label>Dropdown List</mat-label>
                    <mat-select >
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2" >Option 2 </mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="questionfield">
                    <mat-label>Dropdown List</mat-label>
                    <mat-select >
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2" >Option 2 </mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="questionfield">
                    <mat-label>Dropdown List</mat-label>
                    <mat-select >
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2" >Option 2 </mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="questionfield">
                    <mat-label>Dropdown List</mat-label>
                    <mat-select >
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2" >Option 2 </mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="questionfield">
                    <mat-label>Dropdown List</mat-label>
                    <mat-select >
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2" >Option 2 </mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
             </div>

             <figure>
                <figcaption>Caption goes here</figcaption>
                <img src='https://cdn.pixabay.com/photo/2022/12/08/06/39/artificial-7642628__340.png' alt='missing' />
            </figure>


            <div class="multipleimg">

                <label for=""> image gose here </label>
              
                    <mat-radio-button value="1">Option 1</mat-radio-button>

            </div>

            <div class="checkboxi">
                <label for=""> Image  With Chackbox </label>
                    <p><mat-checkbox formControlName="pepperoni">Pepperoni</mat-checkbox></p>
            </div>

            <div class="starmark">
                <h2>Star Rating</h2>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <div class="imgwithster">
                <div class="imgone">
                    <p>image gose here with star marks </p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <div class="imgone">
                    <p>image gose here with star marks </p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <div class="imgone">
                    <p>image gose here with star marks </p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <div class="imgone">
                    <p>image gose here with star marks </p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
    
            </div>

            
            <div class="measuring">
                <label for="disk_d">Storage</label>
                <meter id="disk_d" value="0.5">50%</meter>
            </div>

            <div class="imgwithmeas">
                <div class="imgoneofm">
                    <label for="disk_d">image   here</label>
                        <meter id="disk_d" value="0.5">50%</meter>
                </div>
                <div class="imgoneofm">
                    <label for="disk_d">image   here</label>
                        <meter id="disk_d" value="0.5">50%</meter>
                </div>
                <div class="imgoneofm">
                    <label for="disk_d">image   here</label>
                        <meter id="disk_d" value="0.5">50%</meter>
                </div>
                <div class="imgoneofm">
                    <label for="disk_d">image   here</label>
                        <meter id="disk_d" value="0.5">50%</meter>
                </div>
                <div class="imgoneofm">
                    <label for="disk_d">image   here</label>
                        <meter id="disk_d" value="0.5">50%</meter>
                </div>
            </div>
            <div class="spinner">
                <input> 
            </div>
                <div class="btn">
                    <button mat-raised-button color="green">ADD</button>

                </div>

                <div class="preview">
                    <span>
                        Preview Full Survey FORM
                    </span>
                </div>

                <div class="btnb">
                    <button mat-raised-button color="green">Upload</button>

                </div>
              <div class="datepicker">
                <mat-form-field appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate placeholder="Start date">
                      <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
                  
              </div>
              
                <table>
                  
                    <tr>
                        <th>
                            Transaction Through 
                        </th>
                        <th>
                            Transaction Code
                        </th>
                        <th>
                            Transaction Prove (If Applicable) Upload
                        </th>
                    </tr>
                </table>


                <div class="saveclose">
                    <div class="btnc">
                        <button mat-raised-button >Save</button>
    
                    </div>
                    <div class="btnd">
                        <button mat-raised-button >Cloase</button>
    
                    </div>
                </div>
                <div class="submit">
                    <button mat-raised-button >Submit to Super Admin</button>
                </div>

               
                
        </div>
    </div>
</div>
</section>

