.container {
    display: block;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;


h1 {
        font-family: 'Poppins', sans-serif;
        padding-top: 20px;
        text-align: center;
        font-size: 28px;
        color: #D12E29;
        font-weight: 900;
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        font-weight: 900;
        line-height: 1;
        text-shadow: 3px 0px 7px rgba(81,67,21,0.8), -3px 0px 7px rgba(81,67,21,0.8), 0px 4px 7px rgba(81,67,21,0.8);
      }

      .title{
        font-size: 19px;
        font-weight: 400;
        // border: 1px solid black;
        display: flex;
        justify-content: space-between;
        .titlel{
          display: flex;
          justify-content: space-around;
          span{
            padding: 0px 100px;
            // border-right: 1px solid black;
          }
         }
        .titler{
          padding: 0 100px;
        }
      }

      .surveyform{
        width: 90%;
        padding: 20px 10px;
        margin: 0 auto;

        .selects{
          display: flex;
          flex-direction: column;
          gap: 10px;
          max-width: 25%;
        }
        .textarea{
          padding-top: 20px;
          .example-full-width{
            width: 25%;
            height: 100%;
          }


        }
        .rediobtnlable{
          padding-top: 20px;
         .mat-radio-buttonb{
            margin-left: 16px;
          }
        }
        .multipleredio{
          padding-top: 20px;
          display: flex;
          gap: 20px;
        }
        .checkbox{
          padding-top: 20px;
        }
        .mcheckbox{
          padding-top: 20px;
        }
        .dropdown{
          padding-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          max-width: 25%;
        }
        .mdropdown{
          display: flex;
          gap: 10px;
        }
        .multipleimg{
          padding: 10px 0px;
        }
        .starmark{
          .checked {
            color: orange;
          }
        }
        .imgwithster{
          gap: 20px;
          justify-content: center;
          display: flex;
          padding: 20px 0;
          .imgone{
            .checked {
              color: orange;
            }
          }

        }
        .measuring{
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        .imgwithmeas{
          padding: 20px 0 ;
          justify-content: center;
          gap: 20px;
          display: flex;
          .imgoneofm{
            display: flex;
            flex-direction: column;
          }
        }
        .btn{
          padding: 20px 0px;
          button{
            background-color: green;
          }
        }
        .btnb{
          padding: 20px 0px;
          button{
            background-color: yellow;
          }
        }
        .preview{
          text-align: center;
        }
        .saveclose{
          padding: 20px 0;
          display: flex;
          justify-content: space-between;

          .btnc{
            button{
              background: green;

            }
          }
          .btnd{
            button{
              background: yellow;

            }
          }
        }
        .submit{
          padding: 20px 0px;
          text-align: center;
          button{
            background: green;
          }
        }
        table, td, th {

          border: 1px solid #ddd;
          text-align: left;
        }
        table {
          border-collapse: collapse;
          width: 100%;
        }
        th, td {
          padding: 15px;
        }

      }
      figure{
        figcaption{
          text-align: center;
        }
        max-width: 25%;
        max-height: 50%;
      }
    }

    @media (max-width:1150px) {

      h1 {
        font-family: 'Poppins', sans-serif;
        padding-top: 20px;
        text-align: center;
        font-size: 28px;
        color: #D12E29;
        font-weight: 900;
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        font-weight: 900;
        line-height: 1;
        text-shadow: 3px 0px 7px rgba(81,67,21,0.8), -3px 0px 7px rgba(81,67,21,0.8), 0px 4px 7px rgba(81,67,21,0.8);
      }

      .title{
        font-size: 19px;
        font-weight: 400;
        // border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .titlel{
          display: flex;
          justify-content: center;
          flex-direction: column;
          span{
            padding:0;
            // border-right: 1px solid black;
          }
         }
        .titler{
          padding: 0 100px;
        }
      }

      .surveyform{
        width: 90%;
        padding: 20px 10px;
        margin: 0 auto;

        .selects{
          display: flex;
          flex-direction: column;
          gap: 10px;
          max-width: 25%;
        }
        .textarea{
          padding-top: 20px;
          .example-full-width{
            width: 25%;
            height: 100%;
          }


        }
        .rediobtnlable{
          padding-top: 20px;
         .mat-radio-buttonb{
            margin-left: 16px;
          }
        }
        .multipleredio{
          padding-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        .checkbox{
          padding-top: 20px;
        }
        .mcheckbox{
          padding-top: 20px;
        }
        .dropdown{
          padding-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          max-width: 25%;
        }
        .mdropdown{
          display: flex;
          flex-direction: column !important;
          gap: 10px;
        }
        .multipleimg{
          padding: 10px 0px;
        }
        .starmark{
          display: flex;
          flex-direction: column;
          .checked {
            color: orange;
          }
        }
        .imgwithster{
          gap: 20px;
          justify-content: center;
          display: flex;
          padding: 20px 0;
          .imgone{
            .checked {
              color: orange;
            }
          }

        }
        .measuring{
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding-bottom: 20px;
        }

        .imgwithmeas{
          padding: 20px 0 ;
          justify-content: center;
          gap: 20px;
          display: flex;
          flex-direction: column;
          .imgoneofm{
            display: flex;
            flex-direction: column;
          }
        }
        .btn{
          padding: 20px 0px;
          button{
            background-color: green;
          }
        }
        .btnb{
          padding: 20px 0px;
          button{
            background-color: yellow;
          }
        }
        .preview{
          text-align: center;
        }
        .saveclose{
          padding: 20px 0;
          display: flex;
          justify-content: space-between;

          .btnc{
            button{
              background: green;

            }
          }
          .btnd{
            button{
              background: yellow;

            }
          }
        }
        .submit{
          padding: 20px 0px;
          text-align: center;
          button{
            background: green;
          }
        }
        table, td, th {

          border: 1px solid #ddd;
          text-align: left;
        }
        table {
          border-collapse: collapse;
          width: 100%;
        }
        th, td {
          padding: 15px;
        }

      }
      figure{
        figcaption{
          text-align: center;
        }
        max-width: 25%;
        max-height: 50%;
      }
    }
    .datepicker{
      padding: 20px 0;
    }

